<section id="jokes-box"
  class=" bg-gradient-to-br from-red-900/60 to-red-700/60 rounded-xl shadow flex flex-col items-center p-8 text-white border border-white"
>
  
  <div class="flex w-full justify-between relative">
    <mat-icon id="click-trigger" fontIcon="info" class="cursor-pointer text-red-400"></mat-icon>
    <ion-popover trigger="click-trigger" triggerAction="click" class="rounded-popover">
      <ng-template>
        <ion-content class="ion-padding"
          ><div class="p-4 backdrop-blur-sm bg-blue-950/90 border border-blue-700/40 text-gray-200 rounded-xl">{{ "gimmicks.jokes.textToSpeech" | translate }}</div>
          </ion-content
        >
      </ng-template>
    </ion-popover>
    <button
      class="bg-gradient-to-br from-blue-400 to-blue-500 hover:from-blue-500 hover:to-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer"
      (click)="onLogout()"
    >
      {{ "gimmicks.jokes.logout" | translate }}
    </button>
  </div>
  <div class="mt-8 flex gap-8">
    <div class="flex items-center">
      <ion-checkbox
        [(ngModel)]="english"
        mode="ios"
        class="mr-2"
      ></ion-checkbox>
      <img src="/assets/svg/gb.svg" height="24px" />
    </div>

    <div class="flex items-center">
      <ion-checkbox [(ngModel)]="german" mode="ios" class="mr-2"></ion-checkbox>
      <img src="/assets/svg/de.svg" height="24px" />
    </div>
    <div class="flex items-center">
      <ion-checkbox
        [(ngModel)]="croatian"
        mode="ios"
        class="mr-2"
      ></ion-checkbox>
      <img src="/assets/svg/hr.svg" height="24px" />
    </div>
  </div>
  <div class="flex gap-10 relative my-8">
    <button
      class="bg-gradient-to-br from-blue-400 to-blue-500 hover:from-blue-500 hover:to-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer"
      (click)="nextJoke()"
    >
      <i class="fa-solid fa-caret-left"></i>
    </button>
    <button
      class="bg-gradient-to-br from-blue-400 to-blue-500 hover:from-blue-500 hover:to-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer"
      (click)="previousJoke()"
    >
      <i class="fa-solid fa-caret-right"></i>
    </button>
  </div>
  <div
    *ngIf="jokes && jokes.length > 0"
    class="relative whitespace-pre-line flex flex-col gap-6 w-60 sm:w-96"
  >
    <div *ngIf="english" class="flex gap-2">
      <div class="w-full">{{ jokes[jokeIndex].english }}</div>
      <button mat-icon-button (click)="onPlay(jokes[jokeIndex].english)">
        <mat-icon fontIcon="play_circle"></mat-icon>
      </button>
    </div>
    <div *ngIf="german" class="flex gap-2">
      <div class="w-full">{{ jokes[jokeIndex].deutsch }}</div>
      <button mat-icon-button (click)="onPlay(jokes[jokeIndex].deutsch)">
        <mat-icon fontIcon="play_circle"></mat-icon>
      </button>
    </div>
    <div *ngIf="croatian" class="flex gap-2">
      <div class="w-full">{{ jokes[jokeIndex].hrvatski }}</div>
      <button mat-icon-button (click)="onPlay(jokes[jokeIndex].hrvatski)">
        <mat-icon fontIcon="play_circle"></mat-icon>
      </button>
    </div>
  </div>
</section>
