@keyframes slideOverviewIn {
  0% {
    translate: 0px -8px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideNewItemIn {
  0% {
    translate: 0px -44px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideFirstItemIn {
  0% {
    translate: 0px -80px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideSecondItemIn {
  0% {
    translate: 0px -116px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideThirdItemIn {
  0% {
    translate: 0px -152px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideFourthItemIn {
  0% {
    translate: 0px -188px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideFifthItemIn {
  0% {
    translate: 0px -224px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideSixthItemIn {
  0% {
    translate: 0px -260px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideSeventhItemIn {
  0% {
    translate: 0px -296px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideEighthItemIn {
  0% {
    translate: 0px -329px;
    opacity: 0;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes slideOverviewOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -8px;
    opacity: 0;
  }
}

@keyframes slideNewItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -44px;
    opacity: 0;
  }
}

@keyframes slideFirstItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -80px;
    opacity: 0;
  }
}

@keyframes slideSecondItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -116px;
    opacity: 0;
  }
}

@keyframes slideThirdItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -152px;
    opacity: 0;
  }
}

@keyframes slideFourthItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -188px;
    opacity: 0;
  }
}

@keyframes slideFifthItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -224px;
    opacity: 0;
  }
}

@keyframes slideSixthItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -260px;
    opacity: 0;
  }
}

@keyframes slideSeventhItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -296px;
    opacity: 0;
  }
}

@keyframes slideEighthItemOut {
  0% {
    translate: 0px 0px;
    opacity: 1;
  }
  100% {
    translate: 0px -329px;
    opacity: 0;
  }
}

@keyframes slideSubMenuButton {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes slideSubMenuButton2 {
  0% {
    rotate: -90deg;
  }
  100% {
    rotate: 0deg;
  }
}

.overviewIn {
  animation: 0.3s ease-out slideOverviewIn;
}

.newItemIn {
  animation: 0.3s ease-out slideNewItemIn;
}

.firstItemIn {
  animation: 0.3s ease-out slideFirstItemIn;
}

.secondItemIn {
  animation: 0.3s ease-out slideSecondItemIn;
}

.thirdItemIn {
  animation: 0.3s ease-out slideThirdItemIn;
}

.fourthItemIn {
  animation: 0.3s ease-out slideFourthItemIn;
}

.fifthItemIn {
  animation: 0.3s ease-out slideFifthItemIn;
}

.sixthItemIn {
  animation: 0.3s ease-out slideSixthItemIn;
}

.seventhItemIn {
  animation: 0.3s ease-out slideSeventhItemIn;
}

.eighthItemIn {
  animation: 0.3s ease-out slideEighthItemIn;
}

.overviewOut {
  animation: 0.3s ease-out slideOverviewOut;
}

.newItemOut {
  animation: 0.3s ease-out slideNewItemOut;
}

.firstItemOut {
  animation: 0.3s ease-out slideFirstItemOut;
}

.secondItemOut {
  animation: 0.3s ease-out slideSecondItemOut;
}

.thirdItemOut {
  animation: 0.3s ease-out slideThirdItemOut;
}

.fourthItemOut {
  animation: 0.3s ease-out slideFourthItemOut;
}

.fifthItemOut {
  animation: 0.3s ease-out slideFifthItemOut;
}

.sixthItemOut {
  animation: 0.3s ease-out slideSixthItemOut;
}

.seventhItemOut {
  animation: 0.3s ease-out slideSeventhItemOut;
}

.eighthItemOut {
  animation: 0.3s ease-out slideEighthItemOut;
}

.subMenuButton {
  animation: 0.3s ease-out slideSubMenuButton;
}

.subMenuButton2 {
  animation: 0.3s ease-out slideSubMenuButton2;
}
