
<section id="skills">
  <div class="flex-col place-items-center w-full content hidden md:flex">
    <h3 class="mb-40 text-white">{{ "sidebar.skills" | translate }}</h3>
    <div class="main border-[6px] border-gray-600">
      <div
        class="flex place-content-center justify-center w-[350px] h-[350px] rounded-full relative"
        [matTooltip]="'skills.workplace' | translate"
        matTooltipClass="my-tooltip-class"
      ></div>
      <div
        class="circle group cursor-pointer animation skill-animation2"
        (click)="openLink('https://wikipedia.org/wiki/HTML5')"
      >
        <div class="circle-image">
          <img src="assets/svg/html5.svg" width="36px" />
        </div>
        <p class="group-hover:font-bold font-semibold mt-[2px]">HTML5</p>
      </div>

      <div
        class="circle group cursor-pointer animation skill-animation3"
        (click)="
          openLink('https://wikipedia.org/wiki/Cascading_Style_Sheets#CSS3')
        "
      >
        <div class="circle-image">
          <img src="assets/svg/css3.svg" width="36px" class="rotate-[-28deg]" />
        </div>
        <p
          class="group-hover:font-bold font-semibold ml-[48px] mt-[-4px] rotate-[-28deg]"
        >
          CSS3
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation4"
        (click)="openLink('https://wikipedia.org/wiki/JavaScript')"
      >
        <div class="circle-image">
          <img src="assets/svg/js.svg" width="36px" class="rotate-[-55deg]" />
        </div>
        <p
          class="group-hover:font-bold font-semibold ml-[78px] mt-[-22px] rotate-[-55deg]"
        >
          JavaScript
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation5"
        (click)="openLink('https://angular.io/')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/angular.svg"
            width="36px"
            class="rotate-[-83deg]"
          />
        </div>

        <p
          class="group-hover:font-bold font-semibold ml-[92px] mt-[-42px] rotate-[-83deg]"
        >
          Angular
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation6"
        (click)="openLink('https://ionicframework.com/')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/ionic.svg"
            width="36px"
            class="rotate-[-111deg]"
          />
        </div>
        <p
          class="group-hover:font-bold font-semibold rotate-[-111deg] mt-[-64px] ml-[92px]"
        >
          Ionic
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation7"
        (click)="openLink('https://www.cypress.io/')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/cypress.svg"
            width="36px"
            class="rotate-[-138deg]"
          />
        </div>

        <p
          class="group-hover:font-bold font-semibold rotate-[-138deg] mt-[-80px] ml-[62px]"
        >
          Cypress
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation8"
        (click)="openLink('https://getbootstrap.com/')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/bootstrap.svg"
            width="36px"
            class="rotate-[-166deg]"
          />
        </div>
        <p
          class="group-hover:font-bold font-semibold rotate-[-166deg] mt-[-90px] ml-[24px]"
        >
          Bootstrap
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation9"
        (click)="openLink('https://tailwindcss.com/')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/tailwind.svg"
            width="36px"
            class="rotate-[-194deg]"
          />
        </div>

        <p
          class="group-hover:font-bold font-semibold rotate-[-194deg] mt-[-90px] ml-[-20px]"
        >
          Tailwind
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation10"
        (click)="openLink('https://www.mysql.com')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/mysql.svg"
            width="36px"
            class="rotate-[-222deg]"
          />
        </div>
        <p
          class="group-hover:font-bold font-semibold rotate-[-222deg] mt-[-80px] ml-[-62px]"
        >
          MySQL
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation11"
        (click)="openLink('https://nodejs.org')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/nodejs.svg"
            width="48px"
            class="rotate-[-249deg]"
          />
        </div>
        <p
          class="group-hover:font-bold font-semibold rotate-[-249deg] mt-[-60px] ml-[-84px]"
        >
          Node.js
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation12"
        (click)="openLink('https://nestjs.com/')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/nestjs.svg"
            class="rotate-[-278deg]"
            width="48px"
          />
        </div>
        <p
          class="group-hover:font-bold font-semibold rotate-[-278deg] mt-[-40px] ml-[-89px]"
        >
          NestJS
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation13"
        (click)="openLink('https://www.npmjs.com/')"
      >
        <div class="circle-image">
          <img src="assets/svg/npm.svg" class="rotate-[-305deg]" width="48px" />
        </div>
        <p
          class="group-hover:font-bold font-semibold rotate-[-305deg] mt-[-20px] ml-[-72px]"
        >
          npm
        </p>
      </div>
      <div
        class="circle group cursor-pointer animation skill-animation14"
        (click)="openLink('https://www.docker.com/')"
      >
        <div class="circle-image">
          <img
            src="assets/svg/docker.svg"
            width="36px"
            class="rotate-[-332deg]"
          />
        </div>
        <p
          class="group-hover:font-bold font-semibold rotate-[-332deg] ml-[-40px] mt-[-4px]"
        >
          Docker
        </p>
      </div>
    </div>
  </div>
  <div class="md:hidden z-10">
    <h3 class="mb-4 text-white relative">{{ "sidebar.skills" | translate }}</h3>
    <div class="p-6 flex justify-center mb-4">
      <div class="max-w-96">
        <img
          src="/assets/workplacehome.webp"
          class="rounded-lg max-w-full h-auto border-2 border-gray-600 !touch-manipulation"
          [matTooltip]="'skills.workplace' | translate"
          matTooltipClass="my-tooltip-class"
        />
      </div>
    </div>

    <div class="l-and-t-wrapper relative">
      <ul class="languages-and-tools">
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://wikipedia.org/wiki/HTML5')"
          >
            <img src="assets/svg/html5.svg" />
            <p class="!font-semibold group-hover:!font-bold">HTML5</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="
              openLink('https://wikipedia.org/wiki/Cascading_Style_Sheets#CSS3')
            "
          >
            <img src="assets/svg/css3.svg" />
            <p class="!font-semibold group-hover:!font-bold">CSS3</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://wikipedia.org/wiki/JavaScript')"
          >
            <img src="assets/svg/js.svg" />
            <p class="!font-semibold group-hover:!font-bold">JavaScript</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://angular.io/')"
          >
            <img src="assets/svg/angular.svg" />
            <p class="!font-semibold group-hover:!font-bold">Angular</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://ionicframework.com/')"
          >
            <img src="assets/svg/ionic.svg" />
            <p class="!font-semibold group-hover:!font-bold">Ionic</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://www.cypress.io/')"
          >
            <img src="assets/svg/cypress.svg" />
            <p class="!font-semibold group-hover:!font-bold">Cypress</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://getbootstrap.com/')"
          >
            <img src="assets/svg/bootstrap.svg" />
            <p class="!font-semibold group-hover:!font-bold">Bootstrap</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://tailwindcss.com/')"
          >
            <img src="assets/svg/tailwind.svg" />
            <p class="!font-semibold group-hover:!font-bold">Tailwinds</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://firebase.google.com/')"
          >
            <img src="assets/svg/firebase.svg" width="32px" />
            <p class="!font-semibold group-hover:!font-bold">Firebase</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://www.mysql.com')"
          >
            <img src="assets/svg/mysql.svg" />
            <p class="!font-semibold group-hover:!font-bold">MySQL</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://nodejs.org')"
          >
            <img src="assets/svg/nodejs.svg" width="64px" />
            <p class="!font-semibold group-hover:!font-bold">Node.js</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://nestjs.com/')"
          >
            <img src="assets/svg/nestjs.svg" />
            <p class="!font-semibold group-hover:!font-bold">NestJS</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://www.npmjs.com/')"
          >
            <img src="assets/svg/npm.svg" />
            <p class="!font-semibold group-hover:!font-bold">npm</p>
          </div>
        </li>
        <li>
          <div
            class="item-wrapper group cursor-pointer"
            (click)="openLink('https://www.docker.com/')"
          >
            <img src="assets/svg/docker.svg" />
            <p class="!font-semibold group-hover:!font-bold">Docker</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
 

  <div class="relative text-center mt-[60px] md:mt-[200px]">
    <a class="next-section-button" [routerLink]="['/']" fragment="portfolio">
      <div class="flex gap-2 items-center">
        <mat-icon
          fontIcon="business_center"
        ></mat-icon>
        <div>Portfolio</div>
      </div>
    </a>
  </div>
</section>
