<div class="flex flex-col gap-4 justify-center items-center h-full relative">
  <div class="-mb-3 text-white">{{ "gimmicks.games.opponent" | translate }}</div>
  <ion-segment
    data-cy="ttt-opponent"
    [(ngModel)]="opponent"
    (ngModelChange)="onChangeOpponent()"
    mode="ios"
    class="w-[280px] mb-4"
  >
    <ion-segment-button value="human">
      <ion-label>{{ "gimmicks.games.human" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="computer">
      <ion-label>Computer</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="flex justify-center gap-6">
    <div class="bg-[#A52A2A] rounded px-2 pb-2 w-[110px]">
      <div class="flex justify-center text-blue-400 text-2xl">X</div>
      <div class="flex gap-1 items-center">
        <input
          #name1Input
          [disabled]="!name1Edit"
          [(ngModel)]="name1ForEdit"
          class="p-1 w-full"
          type="text"
          [ngClass]="{
            'bg-yellow-300 text-black': !name1Edit,
            'bg-white text-black': name1Edit
          }"
          (keyup.enter)="onToggleName1()"
          (blur)="onName1Blur()"
        /><mat-icon
          *ngIf="!name1Edit"
          class="text-[18px] text-yellow-300 mt-[6px] cursor-pointer"
          fontIcon="edit"
          (click)="onToggleName1()"
        ></mat-icon>
        <mat-icon
          *ngIf="name1Edit"
          class="text-[18px] text-yellow-300 mt-[6px] cursor-pointer"
          fontIcon="save"
          (click)="onToggleName1()"
        ></mat-icon>
      </div>
    </div>
    <div
      *ngIf="opponent === 'human'"
      class="bg-[#A52A2A] rounded px-2 pb-2 w-[110px]"
    >
      <div class="flex justify-center text-red-400 text-2xl">O</div>
      <div class="flex gap-1 items-center">
        <input
          #name2Input
          [disabled]="!name2Edit"
          [(ngModel)]="name2ForEdit"
          class="p-1 w-full"
          type="text"
          [ngClass]="{
            'bg-yellow-300 text-black': !name2Edit,
            'bg-white text-black': name2Edit
          }"
          (keyup.enter)="onToggleName2()"
          (blur)="onName2Blur()"
        /><mat-icon
          *ngIf="!name2Edit"
          class="text-[18px] text-yellow-300 mt-[6px] cursor-pointer"
          fontIcon="edit"
          (click)="onToggleName2()"
        ></mat-icon>
        <mat-icon
          *ngIf="name2Edit"
          class="text-[18px] text-yellow-300 mt-[6px] cursor-pointer"
          fontIcon="save"
          (click)="onToggleName2()"
        ></mat-icon>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4" data-cy="ttt-board">
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-0-0"
        (click)="makeMove(0, 0)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row1 || column1 || diagonal1,
          'text-blue-400 disabled:text-blue-400': board[0][0] === 'X',
          'text-red-400 disabled:text-red-400': board[0][0] === 'O'
        }"
      >
        {{ board[0][0] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-0-1"
        (click)="makeMove(0, 1)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row1 || column2,
          'text-blue-400 disabled:text-blue-400': board[0][1] === 'X',
          'text-red-400 disabled:text-red-400': board[0][1] === 'O'
        }"
      >
        {{ board[0][1] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-0-2"
        (click)="makeMove(0, 2)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row1 || column3 || diagonal2,
          'text-blue-400 disabled:text-blue-400': board[0][2] === 'X',
          'text-red-400 disabled:text-red-400': board[0][2] === 'O'
        }"
      >
        {{ board[0][2] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-1-0"
        (click)="makeMove(1, 0)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row2 || column1,
          'text-blue-400 disabled:text-blue-400': board[1][0] === 'X',
          'text-red-400 disabled:text-red-400': board[1][0] === 'O'
        }"
      >
        {{ board[1][0] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-1-1"
        (click)="makeMove(1, 1)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row2 || column2 || diagonal1 || diagonal2,
          'text-blue-400 disabled:text-blue-400': board[1][1] === 'X',
          'text-red-400 disabled:text-red-400': board[1][1] === 'O'
        }"
      >
        {{ board[1][1] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-1-2"
        (click)="makeMove(1, 2)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row2 || column3,
          'text-blue-400 disabled:text-blue-400': board[1][2] === 'X',
          'text-red-400 disabled:text-red-400': board[1][2] === 'O'
        }"
      >
        {{ board[1][2] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-2-0"
        (click)="makeMove(2, 0)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row3 || column1 || diagonal2,
          'text-blue-400 disabled:text-blue-400': board[2][0] === 'X',
          'text-red-400 disabled:text-red-400': board[2][0] === 'O'
        }"
      >
        {{ board[2][0] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-2-1"
        (click)="makeMove(2, 1)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row3 || column2,
          'text-blue-400 disabled:text-blue-400': board[2][1] === 'X',
          'text-red-400 disabled:text-red-400': board[2][1] === 'O'
        }"
      >
        {{ board[2][1] }}
      </button>
    </div>
    <div>
      <button
        [disabled]="boardDisabled"
        data-cy="ttt-cell-2-2"
        (click)="makeMove(2, 2)"
        class="w-20 h-20 text-[48px] disabled:bg-gray-200 bg-gray-200"
        [ngClass]="{
          'bg-green-400': row3 || column3 || diagonal1,
          'text-blue-400 disabled:text-blue-400': board[2][2] === 'X',
          'text-red-400 disabled:text-red-400': board[2][2] === 'O'
        }"
      >
        {{ board[2][2] }}
      </button>
    </div>
  </div>
  <div *ngIf="!showDraw && !showWin" class="text-white" data-cy="ttt-turn">
    {{ currentPlayer === "X" ? name1 : name2
    }}{{ "gimmicks.games.turn" | translate }}
  </div>
  <button
    *ngIf="!showWin && !showDraw"
    data-cy="ttt-new-game"
    (click)="onNewGame()"
    mat-raised-button
    color="yellow"
  >
    {{ "gimmicks.games.newGame" | translate }}
  </button>
</div>
