<div class="flex justify-end my-4 mr-4">
  <button (click)="onClose()" class="hover:scale-125 cursor-pointer bg-white/30 rounded-full py-[6px] px-[10px]">
    <i class="fa-solid fa-xmark text-lg text-white"></i>
  </button>
</div>
<div class="flex items-center">
  <div class="relative mr-2 sm:mr-4">
    <img *ngIf="user.image" [src]="user.image" class="w-32 sm:w-36 rounded-full" />
    <div
      *ngIf="!user.image"
      class="w-32 h-32 sm:w-36 sm:h-36 bg-gray-400 rounded-full text-white flex flex-col justify-center items-center"
    >
      <div>{{ "gimmicks.charts.upload" | translate }}</div>
      <div>{{ "gimmicks.charts.image" | translate }}</div>
    </div>
    <button
      class="absolute right-2 bottom-2 bg-gradient-to-br from-blue-400 to-blue-500 hover:from-blue-500 hover:to-blue-600 text-white px-2 py-2 rounded shadow cursor-pointer"
      (click)="openUploadImageModal()"
    >
      <i class="fa-solid fa-pen"></i>
    </button>
  </div>
  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="user.name" class="!text-white" />
    <mat-hint class="text-red-400">{{ errorMessage }}</mat-hint>
  </mat-form-field>
</div>
<div class="flex justify-center px-6 mt-2">
  <ion-segment mode="ios" [value]="year" (ionChange)="onChangeYear()">
    <ion-segment-button
      value="2022"
      class="bg-[#FFCD5622] value2022"
      [ngStyle]="{ 'font-weight': year === '2022' ? 'bold' : 'normal' }"
    >
      <ion-label>2022</ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="2023"
      class="bg-[#9966FF22] value2023"
      [ngStyle]="{ 'font-weight': year === '2023' ? 'bold' : 'normal' }"
    >
      <ion-label>2023</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>
<table class="sm:px-6 text-sm sm:text-base text-white">
  <tr>
    <th class="text-left">{{ "gimmicks.charts.month" | translate }}</th>
    <th class="sm:w-40">
      <div>{{ "gimmicks.charts.electricity" | translate }}</div>
      <div class="text-sm">kWh</div>
    </th>
    <th class="sm:w-40">
      <div>{{ "gimmicks.charts.water" | translate }}</div>
      <div class="text-sm">m&#179;</div>
    </th>
    <th class="sm:w-40">
      <div>{{ "gimmicks.charts.gas" | translate }}</div>
      <div class="text-sm">kWh</div>
    </th>
  </tr>

  <tr *ngFor="let month of userConsumptions.controls; let i = index">
    <ng-container [formGroup]="month">
      <td>{{ "gimmicks.calendar.months." + months[i] | translate }}</td>
      <td class="text-center">
        <mat-form-field
          subscriptSizing="dynamic"
          appearance="outline"
          class="w-20 sm:w-32 bg-[#FF6384]"
        >
          <input matInput type="number" formControlName="electricity" />
        </mat-form-field>
      </td>
      <td class="text-center">
        <mat-form-field
          subscriptSizing="dynamic"
          appearance="outline"
          class="w-20 sm:w-32 bg-[#36A2EB]"
        >
          <input matInput type="number" formControlName="water" />
        </mat-form-field>
      </td>
      <td class="text-center">
        <mat-form-field
          subscriptSizing="dynamic"
          appearance="outline"
          class="w-20 sm:w-32 bg-[#FF9F40]"
        >
          <input matInput type="number" formControlName="gas" />
        </mat-form-field>
      </td>
    </ng-container>
  </tr>
</table>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <button
    mat-fab
    [matTooltip]="'gimmicks.charts.save' | translate"
    color="primary"
    [disabled]="isSaveButtonDisabled()"
    (click)="onSaveUser()"
  >
    <mat-icon>save</mat-icon>
  </button>
</ion-fab>
