<div
  class="py-4 px-2 xs:p-4 lg:p-6 shadow bg-gradient-to-br from-red-900/60 to-red-700/60 rounded-xl border border-white text-white w-[calc(100vw-20px)] sm:w-[600px] lg:w-[360px] xl:w-[420px] m-2 sm:mb-4 lg:mt-8 relativ"
>
  <div
    *ngIf="elementsOptions.clientSecret && viewType === 'payment'"
    [formGroup]="paymentElementForm"
    class="flex flex-col"
  >
    <div class="flex justify-center text-sm text-center">
      {{ "gimmicks.jokes.testFormInfo" | translate }}&nbsp;<mat-icon
        id="click-trigger3"
        fontIcon="info"
        class="shrink-0 cursor-pointer text-blue-300 hover:text-blue-400 transition-all duration-300"
      ></mat-icon>
      <ion-popover
        trigger="click-trigger3"
        triggerAction="click"
        class="rounded-popover"
      >
        <ng-template>
          <ion-content class="ion-padding"
            ><div
              id="container2"
              class="p-4 backdrop-blur-sm bg-blue-950/90 border border-blue-700/40 text-gray-200 rounded-xl"
            >
              {{ "gimmicks.jokes.text6b" | translate }}
              <div
                class="bg-white/80 border border-white rounded p-2 text-xs grid grid-cols-2 my-2"
              >
                <div class="text-blue-500 mb-1">
                  {{ "gimmicks.jokes.paymentSucceeds" | translate }}
                </div>
                <div class="text-blue-500 flex justify-end">
                  <div>4242 4242 4242 4242</div>
                  <div (click)="copyToClipboard('4242 4242 4242 4242', $event)">
                    <i
                      class="fa-regular fa-clipboard ml-1 hover:text-blue-700 cursor-pointer"
                    ></i>
                  </div>
                </div>
                <div class="text-orange-500 mb-1">
                  {{ "gimmicks.jokes.paymentRequiresAuth" | translate }}
                </div>
                <div class="text-orange-500 flex justify-end">
                  <div>4000 0025 0000 3155</div>
                  <div (click)="copyToClipboard('4000 0025 0000 3155', $event)">
                    <i
                      class="fa-regular fa-clipboard ml-1 hover:text-orange-700 cursor-pointer"
                    ></i>
                  </div>
                </div>
                <div class="text-red-500">
                  {{ "gimmicks.jokes.paymentDeclined" | translate }}
                </div>
                <div class="text-red-500 flex justify-end">
                  <div>4000 0000 0000 9995</div>
                  <div (click)="copyToClipboard('4000 0000 0000 9995', $event)">
                    <i
                      class="fa-regular fa-clipboard ml-1 hover:text-red-700 cursor-pointer"
                    ></i>
                  </div>
                </div>
              </div>
              {{ "gimmicks.jokes.text7" | translate }}
              <br />
              <br />
              {{ "gimmicks.jokes.text7a" | translate }}
              <br />
              <br />
              {{ "gimmicks.jokes.text8" | translate }}
              <a
                href="https://www.amazon.de/Vicevi-dva-jezika-Sprachen-kroatisch/dp/B0CTXX39KZ/ref=sr_1_1?dib=eyJ2IjoiMSJ9.5PQfH2ltLtUPlA2ZafYO-Q.CSLZZD2SZp04jpj0y3zHZlaO3KokFMTL-OxcmiVQkw4&dib_tag=se&qid=1711988862&refinements=p_27%3ABenjamin+Mil%C4%8Di%C4%87&s=books&sr=1-1&text=Benjamin+Mil%C4%8Di%C4%87"
                target="_blank"
                class="text-sky-300 hover:text-sky-200 underline transition-colors duration-300"
                >{{ "gimmicks.jokes.text9" | translate }}</a
              >
              {{ "gimmicks.jokes.text10" | translate }}
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
    <hr class="border-white border-b w-full mb-2" />
    <div
      class="flex justify-center mb-4 sm:text-lg lg:text-base xl:text-lg text-center"
    >
      {{ "gimmicks.jokes.orderBook" | translate }}&nbsp;&nbsp;<span
        class="bg-white/60 border border-white rounded-lg text-red-700 px-2 font-semibold"
        >14.98 Euro</span
      >
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">Name:</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #nameInput matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">Email:</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #emailInput matInput type="email" formControlName="email" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">{{ "gimmicks.jokes.street" | translate }}</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #streetInput matInput formControlName="address" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">{{ "gimmicks.jokes.zipCode" | translate }}</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #zipCodeInput matInput formControlName="zipcode" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">{{ "gimmicks.jokes.city" | translate }}</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #cityInput matInput formControlName="city" />
      </mat-form-field>
    </div>
    <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
      <ngx-stripe-payment [options]="paymentElementOptions" />
    </ngx-stripe-elements>
    <button (click)="pay()">
      {{ "gimmicks.jokes.payAmount" | translate }}
    </button>
  </div>
  <div
    *ngIf="viewType === 'spinner'"
    class="bg-gradient-to-br from-red-900/60 to-red-700/60 p-4 rounded flex justify-center"
  >
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="viewType === 'couldNotLoad'" class="bg-red-300/60 p-4 rounded">
    <div>{{ "gimmicks.jokes.stripNotLoaded" | translate }}</div>
  </div>
  <div *ngIf="viewType === 'success'" class="bg-green-300/60 p-4 rounded">
    <div class="flex justify-center">
      {{ "gimmicks.jokes.congratulation" | translate }}
    </div>
    <div class="flex justify-center my-4">
      {{ "gimmicks.jokes.bookOrdered" | translate }}
    </div>
    <div class="flex justify-center">
      <button
        (click)="onTryAgain()"
        class="hover:bg-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer"
      >
        OK
      </button>
    </div>
  </div>

  <div
    *ngIf="viewType === 'error'"
    class="bg-red-300/60 p-4 rounded text-center"
  >
    {{ "gimmicks.jokes.noSuccess" | translate }}
    <br /><br />
    {{ error }}
    <br /><br />
    <div class="flex justify-center">
      <button (click)="onTryAgain()">
        {{ "gimmicks.jokes.tryAgain" | translate }}
      </button>
    </div>
  </div>
</div>
