<div
  class="py-4 px-2 xs:p-4 lg:p-6 shadow bg-gradient-to-br from-red-900/60 to-red-700/60 rounded-xl border border-white text-white w-[calc(100vw-20px)] sm:w-[600px] lg:w-[360px] xl:w-[420px] m-2 sm:mb-4 lg:mt-8 relativ"
>
  <div
    *ngIf="elementsOptions.clientSecret && viewType === 'payment'"
    [formGroup]="paymentElementForm"
    class="flex flex-col"
  >
    <div
      class="flex justify-center mb-4 sm:text-lg lg:text-base xl:text-lg text-center"
    >
      {{ "gimmicks.jokes.orderBook" | translate }}&nbsp;&nbsp;<span
        class="bg-white/60 border border-white rounded-lg text-red-700 px-2 font-semibold"
        >14.98 Euro</span
      >
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">Name:</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #nameInput matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">Email:</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #emailInput matInput type="email" formControlName="email" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">{{ "gimmicks.jokes.street" | translate }}</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #streetInput matInput formControlName="address" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">{{ "gimmicks.jokes.zipCode" | translate }}</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #zipCodeInput matInput formControlName="zipcode" />
      </mat-form-field>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <div class="w-16">{{ "gimmicks.jokes.city" | translate }}</div>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="w-full"
      >
        <input #cityInput matInput formControlName="city" />
      </mat-form-field>
    </div>
    <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
      <ngx-stripe-payment [options]="paymentElementOptions" />
    </ngx-stripe-elements>
    <button (click)="pay()">
      {{ "gimmicks.jokes.payAmount" | translate }}
    </button>
  </div>
  <div
    *ngIf="viewType === 'spinner'"
    class="bg-gradient-to-br from-red-900/60 to-red-700/60 p-4 rounded flex justify-center"
  >
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="viewType === 'couldNotLoad'" class="bg-red-300/60 p-4 rounded">
    <div>{{ "gimmicks.jokes.stripNotLoaded" | translate }}</div>
  </div>
  <div *ngIf="viewType === 'success'" class="bg-green-300/60 p-4 rounded">
    <div class="flex justify-center">
      {{ "gimmicks.jokes.congratulation" | translate }}
    </div>
    <div class="flex justify-center my-4">
      {{ "gimmicks.jokes.bookOrdered" | translate }}
    </div>
    <div class="flex justify-center">
      <button
        (click)="onTryAgain()"
        class="hover:bg-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer"
      >
        OK
      </button>
    </div>
  </div>

  <div
    *ngIf="viewType === 'error'"
    class="bg-red-300/60 p-4 rounded text-center"
  >
    {{ "gimmicks.jokes.noSuccess" | translate }}
    <br /><br />
    {{ error }}
    <br /><br />
    <div class="flex justify-center">
      <button (click)="onTryAgain()">
        {{ "gimmicks.jokes.tryAgain" | translate }}
      </button>
    </div>
  </div>
</div>
