<section class="bg-blue-400 min-h-[calc(100vh-40px)]">
  <div class="relative flex justify-center items-center text-xl px-8 py-4">
    <i class="fa-brands fa-github text-sm"></i>&nbsp;
    <a
      class="text-color1 hover:text-color2 text-sm"
      href="https://github.com/benjaminmilcic/aznw-routes"
      target="_blank"
      >{{ "gimmicks.overview.sourceCode" | translate }}</a
    >
  </div>
  <div #doors class="flex flex-wrap justify-center relative">
    <div
      *ngFor="let setting of settings; let settingIndex = index"
      class="flipbox m-8 rounded-lg cursor-pointer border-8 border-blue-200 h-fit bg-[#ffffff40]"
      (click)="goToPage([setting.goToPage])"
      (mouseenter)="playAudio(settingIndex)"
      [matContextMenuTriggerFor]="contextMenu"
    >
      <mat-menu #contextMenu class="px-2 !min-w-[320px]">
        <div (click)="$event.stopPropagation()">
          <mat-slide-toggle
            labelPosition="before"
            [(ngModel)]="settings[settingIndex].showDescription"
            class="ml-3 py-2"
            ><div class="text-base font-normal">
              {{'gimmicks.overview.showDescription'|translate}}
            </div></mat-slide-toggle
          >
          <mat-slide-toggle
            labelPosition="before"
            [(ngModel)]="settings[settingIndex].playAudio"
            class="ml-3 py-2"
            ><div class="text-base font-normal">
              {{'gimmicks.overview.playAudio'|translate}}
            </div></mat-slide-toggle
          >
          <div class="border-t"></div>
          <div class="pl-3 mt-3">{{'gimmicks.overview.bgGradient'|translate}}</div>
          <table class="ml-6">
            <tr>
              <td class="text-[#FB001A]">{{'gimmicks.overview.red'|translate}}:</td>
              <td>
                <mat-slider min="0" max="255" class="red-slider">
                  <input
                    matSliderThumb
                    [(ngModel)]="settings[settingIndex].red"
                    (ngModelChange)="changeColor(settingIndex)"
                  />
                </mat-slider>
              </td>
              <td class="text-[#FB001A]">{{ settings[settingIndex].red }}</td>
            </tr>
            <tr>
              <td class="text-[#107E15]">{{'gimmicks.overview.green'|translate}}:</td>
              <td>
                <mat-slider min="0" max="255" class="green-slider">
                  <input
                    matSliderThumb
                    [(ngModel)]="settings[settingIndex].green"
                    (ngModelChange)="changeColor(settingIndex)"
                  />
                </mat-slider>
              </td>
              <td class="text-[#107E15]">{{ settings[settingIndex].green }}</td>
            </tr>
            <tr>
              <td class="text-[#2303F8]">{{'gimmicks.overview.blue'|translate}}:</td>
              <td>
                <mat-slider min="0" max="255" class="blue-slider">
                  <input
                    matSliderThumb
                    [(ngModel)]="settings[settingIndex].blue"
                    (ngModelChange)="changeColor(settingIndex)"
                  />
                </mat-slider>
              </td>
              <td class="text-[#2303F8]">{{ settings[settingIndex].blue }}</td>
            </tr>
            <tr>
              <td>{{'gimmicks.overview.opacity'|translate}}:</td>
              <td>
                <mat-slider min="0" max="255" class="opacity-slider">
                  <input
                    matSliderThumb
                    [(ngModel)]="settings[settingIndex].opacity"
                    (ngModelChange)="changeColor(settingIndex)"
                  />
                </mat-slider>
              </td>
              <td>{{ settings[settingIndex].opacity }}</td>
            </tr>
          </table>
        </div>
      </mat-menu>
      <div
        class="text-white sm:h-[420px] p-8 w-60 shadow-lg flipbox-active relative"
      >
        <div class="absolute top-[calc(50%-10px)] right-[40px] z-50">
          <div class="relative">
            <div class="w-[20px] h-[20px] rounded-full bg-gray-600"></div>
            <div
              class="absolute top-[5px] left-[10px] w-[40px] h-[10px] rounded bg-yellow-200 doorknob"
            ></div>
          </div>
        </div>
        <div class="flex flex-col justify-between h-full">
          <div>
            <div class="flex justify-between items-center mb-6">
              <div class="text-xl font-bold">
                {{ setting.header | translate }}
              </div>
              @if (setting.icon) {
              <i class="fa-solid text-4xl" [ngClass]="setting.iconClasses"></i>

              }@else {
              <img class="w-8 h-8" [src]="setting.imageSrc" />
              }
            </div>
            @if (settings[settingIndex].showDescription) {

            <div class="mb-2 text-gray-200">
              {{ "gimmicks.overview.elements" | translate }}:
            </div>
            <ul class="mb-8 text-sm sm:text-base text-gray-200 mr-[50px]">
              <li *ngFor="let element of setting.elements">
                {{ element | translate }}
              </li>
            </ul>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
