@use "@angular/material" as mat;

section {
  background-size: cover;
  background-position: center;
  position: relative;
}

section:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(/assets/skimming-stone-asteroid-meta.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.flipbox-active {
  transform-origin: left;
  transition: transform 0.45s;
}
.flipbox:hover .flipbox-active {
  transform: perspective(1200px) rotateY(20deg);
}

.doorknob {
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.flipbox:hover .doorknob {
  transform: rotate(35deg);
}

ul li::marker {
  @apply text-blue-300;          /* Farbe des Bullets */
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.red-slider {
  @include mat.slider-overrides(
    (
      active-track-color: red,
      handle-color: red,
      focus-handle-color:red
    )
  );
}

.green-slider {
  @include mat.slider-overrides(
    (
      active-track-color: green,
      handle-color: green,
      focus-handle-color:green
    )
  );
}

.blue-slider {
  @include mat.slider-overrides(
    (
      active-track-color: blue,
      handle-color: blue,
      focus-handle-color:blue
    )
  );
}

.opacity-slider {
  @include mat.slider-overrides(
    (
      active-track-color: black,
      handle-color: black,
      focus-handle-color:black
    )
  );
}
