<div class="relative background" data-cy="winner-dialog">
  <ng-fireworks
    [options]="options"
    class="fireworks"
    *ngIf="data.showWin && enabled"
  ></ng-fireworks>
  <div mat-dialog-title class="flex justify-center">
    @if (data.showWin) {

    <div class="flex flex-col justify-center mt-6">
      <div class="flex w-full justify-center" data-cy="winner-name">{{ data.winner }}</div>
      <div class="flex w-full justify-center">
        {{ "gimmicks.games.wins" | translate }}
      </div>
      <div class="flex w-full justify-center mt-3">
        <img class="w-20 h-auto" src="assets/svg/trophy.svg" />
      </div>
    </div>
    }@else {
    <div class="flex flex-col justify-center mt-6">
      <div class="flex w-full justify-center text-center">
        {{ "gimmicks.games.draw" | translate }}
      </div>
      <div class="flex w-full justify-center mt-4">
        <img class="w-20 h-auto" src="assets/svg/handshake.svg" />
      </div>
    </div>
    }
  </div>
</div>
<div class="flex w-full absolute bottom-2 left-0">
  <div class="flex w-full justify-center">
    <mat-dialog-actions>
      <button [mat-dialog-close] mat-stroked-button data-cy="winner-new-game">
        {{ "gimmicks.games.newGame" | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
