<ion-header>
  <ion-toolbar color="primary" class="bg-gradient-to-br from-blue-500 to-purple-500  text-white">
    <ion-title
      >{{ day }}. {{ "gimmicks.calendar.months." + month | translate }}
      {{ year }}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="close()" class="bg-white/30 rounded-lg !mr-4 hover:scale-125">
        <i class="fa-solid fa-xmark text-lg"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="h-[calc(100%-50px)]">
  <div class="bg-[#ffffff]">
    <form [formGroup]="hours">
      <table class="my-4 mx-2 border-spacing-x-2 xs:mx-8 xs:border-spacing-x-6">
        <tr>
          <td class="align-top pt-5">00:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h0" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">01:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h1" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">02:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h2" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">03:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h3" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">04:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h4" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">05:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h5" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">06:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h6" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">07:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h7" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">08:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h8" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">09:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h9" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">10:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h10" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">11:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h11" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">12:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h12" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">13:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h13" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">14:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h14" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">15:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h15" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">16:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h16" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">17:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h17" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">18:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h18" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">19:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h19" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">20:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h20" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">21:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h21" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">22:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h22" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="align-top pt-5">23:00</td>
          <td class="w-full">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="w-full"
            >
              <input matInput formControlName="h23" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="print()">
    <i class="fa-solid fa-print text-2xl"></i>
  </ion-fab-button>
  <ion-fab-button
    (click)="save()"
    [disabled]="isSaveButtonDisabled()"
    class="mt-4"
  >
    <i class="fa-solid fa-floppy-disk text-2xl"></i>
  </ion-fab-button>
</ion-fab>
