<h2 mat-dialog-title>{{ 'gimmicks.recipes.uploadImageTitle' | translate }}</h2>
<mat-dialog-content>
  @if (!imageUrl()) {
  <div
    class="border-2 border-dashed border-[#ccc] rounded-lg px-[60px] py-[20px] text-center cursor-pointer bg-[#fafafa] transition-all hover:border-[#999] hover:bg-[#f0f0f0]"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (click)="fileInput.click()"
    [ngClass]="{ '!border-[#3f51b5] !bg-[#e8eaf6]': isDragging() }"
  >
    <div>
      <p class="text-[#666] my-[10px]">
        {{ 'gimmicks.recipes.dragOrClick' | translate }}
      </p>
      <p class="text-[12px] text-[#999]">{{ 'gimmicks.recipes.imageFormats' | translate }}</p>
    </div>
    <input
      #fileInput
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none"
    />
  </div>
  } @else {
  <div class="flex flex-col gap-2 mt-4">
    <div class="flex justify-center gap-8">
      <button
        class="bg-gradient-to-br from-green-400 to-green-500 hover:from-green-500 hover:to-green-600 text-white rounded shadow cursor-pointer h-7"
        (click)="moveLeft()"
      >
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button
        class="bg-gradient-to-br from-green-400 to-green-500 hover:from-green-500 hover:to-green-600 text-white rounded shadow cursor-pointer h-7"
        (click)="moveRight()"
      >
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
    <div class="flex justify-center items-center gap-2">
      <div class="h-full flex flex-col gap-8">
        <button
          class="bg-gradient-to-br from-green-400 to-green-500 hover:from-green-500 hover:to-green-600 text-white rounded shadow cursor-pointer"
          (click)="zoomIn()"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button
          class="bg-gradient-to-br from-green-400 to-green-500 hover:from-green-500 hover:to-green-600 text-white rounded shadow cursor-pointer"
          (click)="zoomOut()"
        >
          <mat-icon>zoom_out</mat-icon>
        </button>
      </div>
      <div class="w-full max-h-[400px]">
        @if (cropperEnabled()) {
        <angular-cropper
          #angularCropper
          [cropperOptions]="config()"
          [imageUrl]="imageUrl()"
        ></angular-cropper>
        }
      </div>
      <div class="h-full flex flex-col justify-center gap-8">
        <button
          class="bg-gradient-to-br from-green-400 to-green-500 hover:from-green-500 hover:to-green-600 text-white rounded shadow cursor-pointer h-7"
          (click)="moveUp()"
        >
          <mat-icon>arrow_drop_up</mat-icon>
        </button>
        <button
          class="bg-gradient-to-br from-green-400 to-green-500 hover:from-green-500 hover:to-green-600 text-white rounded shadow cursor-pointer h-7"
          (click)="moveDown()"
        >
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
    </div>
    <div class="flex justify-center">
      <button
        class="bg-gradient-to-br from-green-400 to-green-500 hover:from-green-500 hover:to-green-600 text-white px-2 py-2 rounded shadow cursor-pointer"
        (click)="reset()"
      >
        {{ "gimmicks.charts.imageCropper.reset" | translate }}
      </button>
    </div>
  </div>

  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'gimmicks.recipes.cancel' | translate }}</button>
  @if (imageUrl()) {
  <button mat-raised-button color="primary" (click)="onCrop()">
    {{ 'gimmicks.recipes.apply' | translate }}
  </button>
  }
</mat-dialog-actions>
