<section id="about">
  <div class="box">
    <div class="profile">
      <div
        class="p-4 w-fit cv-button-wrapper border border-white cursor-pointer"
        (click)="openCV()"
      >
        <div class="flex gap-2 items-center">
          <mat-icon fontIcon="article" class="text-white"></mat-icon>
          <div class="text-white underline">
            {{ "about.downloadCV" | translate }}
          </div>
        </div>
      </div>
      <img
        src="assets/5x7_changed.jpg"
        class="profile-image"
        alt="Benjamin Milčić"
      />
      <h2 class="mt-10 text-white">{{ "about.aboutMe" | translate }}</h2>
      <div class="profile-badges">
        <div class="flex flex-col items-center">
          <div class="text-[#3b82f6] text-[2rem] font-extrabold">5+</div>
          <div class="text-[#cbd5e1] text-[0.875rem] font-medium">
            {{ "about.yearsExperiance" | translate }}
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-[#3b82f6] text-[2rem] font-extrabold">10+</div>
          <div class="text-[#cbd5e1] text-[0.875rem] font-medium">
            {{ "about.projects" | translate }}
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-[#3b82f6] text-[2rem] font-extrabold">100%</div>
          <div class="text-[#cbd5e1] text-[0.875rem] font-medium">
            {{ "about.passion" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="font-extrabold text-3xl">
        Angular Frontend {{ "header.developer" | translate }}
      </div>
      <div class="text-[#3b82f6] text-[1.125rem] font-semibold mt-1">
        {{ "about.specialized" | translate }}
      </div>
      <div class="text-[#475569] text-[1.1rem] mt-8 leading-7">
        {{ "about.text1" | translate }}<br /><br />
        {{ "about.text2" | translate }}<br /><br />

        {{ "about.text3" | translate }}<br /><br />
        {{ "about.text5" | translate }}<br /><br />
        {{ "about.text6" | translate }}<br /><br />
        {{ "about.text7" | translate }}<br /><br />
      </div>
    </div>
  </div>
  <a class="button mt-16" [routerLink]="['/']" fragment="skills">
    <div class="flex gap-2 items-center">
      <mat-icon fontIcon="work"></mat-icon>
      {{ "about.mySkills" | translate }}
    </div>
  </a>
</section>
