.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 48px;
  height: 48px;
  text-align: center;
  color: var(--color1);
  background: var(--color2);
  opacity: 0.8;
  line-height: 50px;
  z-index: 9999;
  border-radius: 0.25rem;
}

.menu-toggle:hover {
  opacity: 1;
}

.menu-toggle.active {
  color: var(--color1);
  background: var(--color3);
}

#sidebar-wrapper {
  position: fixed;
  z-index: 999;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: var(--color2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.sidebar-brand {
  display: flex;
  place-items: center;
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}



.sidebar-item {
  display: flex;
  padding: 15px;
  color: var(--color1);
  align-items: center;
  position: relative;
}

.gimmicks{
  color: var(--color5) !important;

}

.sidebar-item::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 3px;
  background-color: var(--color1);
  transition: transform 0.5s;
}

.sidebar-item.gimmicks::after {
  background-color: var(--color5) !important;
}

.sidebar-item div {
  transition: all 0.5s;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid var(--color1);
}

.sidebar-item:hover.gimmicks {
  background-color: rgba(55, 55, 55, 0.3) !important;
  border-left: 4px solid var(--color5) !important;
}

.sidebar-item:hover::after {
  transform: translateX(-30px);
}

.sidebar-item:hover div {
  transform: translateX(20px);
}

p {
  margin-left: 15px;
  font-weight: 700;
}

.sidebar-flag {
  margin-left: 30px;
  margin-top: -12px;
  cursor: pointer;
}

.mat-languageMenu {
  @apply !bg-color1;
}

.sidebar-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color1);
  object-fit: cover;
  object-position: center 10%;
}
