<a
  (click)="onToggleSidebar($event)"
  class="menu-toggle"
  href="#"
  [class.active]="sidebarActivated"
  ><i class="fas fa-bars menu-button"></i
></a>

<!-- Overlay to close sidebar when clicking outside -->
<div
  *ngIf="sidebarActivated"
  class="sidebar-overlay"
  (click)="onToggleSidebar(null)"
></div>

<nav
  #sidebarWrapper
  id="sidebar-wrapper"
  [ngClass]="{ active: sidebarActivated }"
  class="overflow-y-auto overflow-x-hidden"
>
  <ul>
    <li>
      <div class="sidebar-brand">
        <div>
          <a (click)="onClick()" [routerLink]="['/']" fragment="about">
            <img src="assets/5x7_changed.jpg" class="sidebar-profile-image" />
          </a>
        </div>
        <div class="sidebar-flag">
          <button
            mat-raised-button
            color="languageMenu"
            [matMenuTriggerFor]="languageMenu"
            class="!p-0"
          >
            <div class="flex gap-2 items-center mt-[14px]">
              <div *ngIf="language === 'de'">
                <img
                  src="/assets/svg/Flag_of_Germany.svg"
                  width="24px"
                  height="24px"
                />
              </div>
              <div *ngIf="language === 'en'">
                <img
                  src="/assets/svg/Flag_of_the_United_Kingdom.svg"
                  width="24px"
                  height="24px"
                />
              </div>
              <div *ngIf="language === 'hr'">
                <img src="/assets/svg/hr.svg" width="24px" height="24px" />
              </div>
              <div class="-mt-[20px]">
                <i class="fa-solid fa-sort-down"></i>
              </div>
            </div>
          </button>
          <mat-menu #languageMenu="matMenu" class="!bg-color1">
            <button mat-menu-item (click)="toggleLanguage('de')">
              <div class="flex gap-2">
                <img
                  src="/assets/svg/Flag_of_Germany.svg"
                  width="24px"
                  height="24px"
                />
                <div>Deutsch</div>
              </div>
            </button>
            <button mat-menu-item (click)="toggleLanguage('en')">
              <div class="flex gap-2">
                <img
                  src="/assets/svg/Flag_of_the_United_Kingdom.svg"
                  width="24px"
                  height="24px"
                />
                <div>English</div>
              </div>
            </button>
            <button mat-menu-item (click)="toggleLanguage('hr')">
              <div class="flex gap-2">
                <img src="/assets/svg/hr.svg" width="24px" height="24px" />
                <div>Hrvatski</div>
              </div>
            </button>
          </mat-menu>
        </div>
      </div>
    </li>
    <li>
      <a (click)="onClick()" [routerLink]="['/']" fragment="header">
        <div class="sidebar-item">
          <div class="flex gap-1 items-center">
            <i class="fa-solid fa-house"></i>
            <p>{{ "sidebar.home" | translate }}</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a (click)="onClick()" [routerLink]="['/']" fragment="about">
        <div class="sidebar-item">
          <div class="flex gap-1 items-center">
            <i class="fa-solid fa-user"></i>
            <p>{{ "sidebar.aboutMe" | translate }}</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a (click)="onClick()" [routerLink]="['/']" fragment="skills">
        <div class="sidebar-item">
          <div class="flex gap-1 items-center">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <p class="col ms-2">{{ "sidebar.skills" | translate }}</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a (click)="onClick()" [routerLink]="['/']" fragment="portfolio">
        <div class="sidebar-item">
          <div class="flex gap-1 items-center">
            <i class="fa-solid fa-toolbox"></i>
            <p>Portfolio</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a (click)="onClick()" [routerLink]="['/']" fragment="contact">
        <div class="sidebar-item">
          <div class="flex gap-1 items-center">
            <i class="fa-solid fa-id-card"></i>
            <p>{{ "sidebar.contact" | translate }}</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a (click)="onClick()" [routerLink]="['/']" fragment="footer">
        <div class="sidebar-item">
          <div class="flex gap-1 items-center">
            <i class="fa-solid fa-link"></i>
            <p>Links</p>
          </div>
        </div>
      </a>
    </li>
    <hr class="border border-[#e9a554] mx-4">
    <li>
      <a (click)="onClick()" [routerLink]="['/gimmicks']" fragment="header">
        <div class="sidebar-item gimmicks">
          <div class="flex gap-1 items-center">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            <p>Gimmicks</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</nav>
