<section
  id="header"
  class="flex min-h-full pt-[70px] box-border h-fit bg-blue-900 gap-x-16 gap-y-2 flex-col xl:flex-row px-4 sm:px-0"
>
  <dialog
    #createPostDialog
    [open]="showcreatePostDialog"
    class="my-4 mx-auto rounded-xl !p-0"
  >
    <div
      class="flex justify-between items-center bg-gradient-to-r from-blue-600 via-purple-600 to-indigo-600 rounded-t-2xl p-4"
    >
      <div></div>
      <div class="text-center text-white sm:text-lg font-bold">
        {{ "gimmicks.guestbook.thanks" | translate }}
      </div>
      <button
        class="bg-white/30 hover:scale-125 cursor-pointer rounded-full flex justify-center items-center py-[6px] shadow-lg"
        (click)="showcreatePostDialog = false"
      >
        <mat-icon class="text-white">close</mat-icon>
      </button>
    </div>
    <div class="flex flex-col gap-4 p-4 funny-bg overflow-auto max-h-[70vh] rounded-b-2xl">
      <div class="mt-2">
        <div class="mb-1">Name:</div>
        <ion-input
          fill="outline"
          class="mb-4"
          [(ngModel)]="postName"
        ></ion-input>
      </div>

      <editor
        *ngIf="editorInitialized"
        apiKey="p8kzw066uvdiavhwv4gt5t1iqdqygdfatlxf194isih8d5rr"
        [init]="config"
        [(ngModel)]="postContent"
        class=""
      ></editor>
      <div class="flex justify-end">
        <button class="create-post-btn" (click)="onSavePost()">
          <i class="fa-solid fa-paper-plane"></i>
          <span>{{ "gimmicks.guestbook.save" | translate }}</span>
        </button>
      </div>
    </div>
  </dialog>

  <div
    class="flex flex-col place-items-center p-8 xl:w-96 text-white relative"
  >
  <div class="flex flex-col h-full max-h-[calc(100vh-113px)] bg-gradient-to-br from-red-900/60 to-red-700/60 py-2 rounded-lg px-4 w-full justify-center items-center sticky left-0 top-[81px]">
    <div class="text-lg text-center">{{ "gimmicks.guestbook.goodMusic" | translate }}</div>
    <div class="text-4xl text-center mb-2 ">Cat Stevens</div>
    <div #youTubePlayer class="w-full flex justify-center">
      <youtube-player
        videoId="GArYfc1qX-M"
        [width]="videoWidth"
        [height]="videoHeight"
      />
    </div>
    </div>
  </div>
  <div class="flex flex-col w-full relative xl:overflow-y-auto">
    <div class="w-full xl:max-w-[800px] flex flex-col items-center mt-4">
      <div class="text-white font-bold text-4xl">
        {{ "gimmicks.menu.guestbook" | translate }}
      </div>
      <div class="text-white text-lg mt-2 text-center">
        {{ "gimmicks.guestbook.shareThoughts" | translate }}
      </div>
    </div>
    <div class="xl:self-start self-center mt-10 mb-2">
      <button class="create-post-btn" (click)="onCreatePost()">
        <i class="fa-solid fa-pen-to-square"></i>
        <span>{{ "gimmicks.guestbook.createComment" | translate }}</span>
      </button>
    </div>
    <div class="flex justify-center xl:justify-start">
      <div class="my-4 max-w-[800px] w-full flex flex-col gap-10">
        <div *ngFor="let post of posts" class="post-card">
          <div class="post-header">
            <div class="post-avatar">
              {{ getInitials(post.name) }}
            </div>
            <div class="post-meta">
              <h3 class="post-author">{{ post.name }}</h3>
              <time class="post-date">{{
                post.date | date : "medium" : undefined : "de"
              }}</time>
            </div>
          </div>
          <div class="post-content overflow-auto" [innerHTML]="post.content | safeHtml"></div>
        </div>
      </div>
    </div>
  </div>
</section>
