<section
  id="header"
  class="flex min-h-[calc(100%-49px)] h-[calc(100%-49px)] bg-blue-900 w-full"
>
  <div
    class="relative flex flex-col text-white items-center w-full px-[1px] pb-[1px] sm:py-4 overflow-auto"
  >
    <div
      class="w-fit px-3 sm:px-10 py-4 bg-gradient-to-br from-red-900/60 to-red-700/60 rounded-lg flex flex-col flex-1 items-center border border-white max-w-full box-border"
    >
      <div class="text-3xl text-center">
        🍲 {{ "gimmicks.recipes.manager" | translate }}
      </div>
      @if (error|async) {
      <div
        class="flex flex-col items-center w-full rounded mt-4 p-4 border bg-red-700 text-red-300"
      >
        <div class="text-center font-bold text-lg">
          ⚠️ {{ "gimmicks.recipes.errorOccurred" | translate }}
        </div>
        <div class="text-center mt-4">{{ error | async }}</div>
      </div>
      }

      <div class="flex gap-6 mt-4 overflow-auto max-w-full">
        <div
          class="cursor-pointer text-center flex items-end"
          [ngClass]="{
            'border-b-2 border-orange-300 text-orange-300':
              selectedMenuPoint() === 'list'
          }"
          (click)="onSelectList()"
        >
          {{ "gimmicks.recipes.recipeList" | translate }}
        </div>
        @if (allRecipes().length) {
        <div
          class="cursor-pointer text-center flex items-end"
          [ngClass]="{
            'border-b-2 border-orange-300 text-orange-300':
              selectedMenuPoint() === 'day'
          }"
          (click)="onSelectDay()"
        >
          {{ "gimmicks.recipes.recipeOfTheDay" | translate }}
        </div>
        }
        <div
          class="cursor-pointer text-center flex items-end"
          [ngClass]="{
            'border-b-2 border-orange-300 text-orange-300':
              selectedMenuPoint() === 'search'
          }"
          (click)="onSelectSearch()"
        >
          {{ "gimmicks.recipes.recipeSearch" | translate }}
        </div>
        <div
          class="cursor-pointer text-center flex items-end"
          [ngClass]="{
            'border-b-2 border-orange-300 text-orange-300':
              selectedMenuPoint() === 'add'
          }"
          (click)="onSelectAdd()"
        >
          +{{ "gimmicks.recipes.addRecipe" | translate }}
        </div>
      </div>
      @if
      (isLoading()&&!currentRoute().includes('add')&&!currentRoute().includes('update'))
      {
      <div class="flex flex-col items-center justify-center py-12">
        <div
          class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-600"
        ></div>
        <p class="mt-4 text-gray-200">
          {{ "gimmicks.recipes.loadingRecipes" | translate }}
        </p>
      </div>
      }@else { @if (selectedMenuPoint()==='search') {
      <div class="mt-4 w-full">
        <mat-form-field
          subscriptSizing="dynamic"
          appearance="outline"
          class="w-full max-w-[500px]"
        >
          <input
            matInput
            [placeholder]="'gimmicks.recipes.searchPlaceholder' | translate"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearch()"
          />
          @if (searchTerm()) {
          <button mat-icon-button matSuffix (click)="onClearSearch()">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
      }
      <div class="w-full">
        <router-outlet></router-outlet>
      </div>
      }
    </div>
  </div>
</section>
