<footer id="footer" class="footer">
  <h3 class="visit">{{ "footer.visitMe" | translate }}</h3>

  <div class="footer-socials">
    <a href="https://github.com/benjaminmilcic" target="_blank" class="footer-social">
      <i class="fa-brands fa-github footer-icon"></i>
      <span>GitHub</span>
    </a>
    <a href="https://stackoverflow.com/users/20271366/benjamin" target="_blank" class="footer-social">
      <i class="fa-brands fa-stack-overflow footer-icon"></i>
      <span>StackOverflow</span>
    </a>
  </div>

  <a href="https://github.com/benjaminmilcic/aznw-routes" target="_blank" class="source-pill">
    <i class="fa-brands fa-github"></i>
    {{ "footer.sourceCode" | translate }}
  </a>

  <hr />

  <div class="copyright">© Benjamin Milčić · {{currentYear()}}</div>

  <div class="meta-wrapper">
    <div class="footer-meta">
      <span>{{ "footer.builtWith" | translate }} <a href="https://angular.dev" target="_blank"
          class="meta-link">Angular</a></span>
      <span class="sep">·</span>
      <span>{{ "footer.hostedOn" | translate }} <a href="https://www.strato.de" target="_blank"
          class="meta-link">Strato</a></span>
      <span class="sep">·</span>
      <span>v3.0</span>
    </div>
  </div>
</footer>