<footer id="footer">
  <div>
    <p class="mb-4">{{ "footer.visitMe" | translate }}</p>
    <div style="display: flex; justify-content: center">
      <div style="margin-right: 10px">
        <a href="https://github.com/benjaminmilcic" target="_blank">
          <i
            class="fa-brands fa-github text-[48px] rounded-[50%] text-color4 hover:text-color5"
          ></i
        ></a>
        <p>GitHub</p>
      </div>
      <div style="margin-left: 10px">
        <a
          href="https://stackoverflow.com/users/20271366/benjamin"
          target="_blank"
        >
          <i
            class="fa-brands fa-stack-overflow text-[48px] rounded-[50%] text-color4 hover:text-color5"
          ></i
        ></a>

        <p>StackOverflow</p>
      </div>
    </div>

    <p class="text-color1">Copyright &copy; Benjamin Milčić 2025</p>
    <p class="text-color1">Odvojak Grdine 2, 51511 Malinska, {{ "footer.croatia" | translate }}</p>
  </div>
</footer>
