.tab-item {
  @media (hover: hover) {
    &:hover {
      color: theme('colors.yellow.200');
    }
  }
}

.tab-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;

  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  background-size: cover;
  background-position: center;
  position: relative;
}

section:before {
  content: " ";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  background-image: url(/assets/skimming-stone-asteroid-meta.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 0;
  pointer-events: none;
}
