<section
  #scrollContainer
  id="movies-scroll-container"
  class="flex flex-col min-h-[calc(100%-49px)] h-[calc(100%-49px)] bg-blue-900 w-full overflow-auto"
>
  <div class="text-center mt-2 text-2xl text-white">
    🎬 {{ "gimmicks.movies.moviePortal" | translate }}
  </div>
  @if (!isDetailView()) {
  <div class="relative flex justify-center mb-4">
    <mat-tab-group
      [selectedIndex]="selectedTabIndex()"
      (selectedIndexChange)="onTabChange($event)"
    >
      <mat-tab [label]="'gimmicks.movies.tabs.popular' | translate"></mat-tab>
      <mat-tab [label]="'gimmicks.movies.tabs.topRated' | translate"></mat-tab>
      <mat-tab
        [label]="'gimmicks.movies.tabs.nowPlaying' | translate"
      ></mat-tab>
      <mat-tab [label]="'gimmicks.movies.tabs.search' | translate"></mat-tab>
    </mat-tab-group>
  </div>
  }
  <div class="w-full flex-1 relative">
    <router-outlet></router-outlet>
  </div>
</section>
