<mat-drawer-container class="min-h-[calc(100%-49px)]">
  <mat-drawer #drawer mode="over" disableClose="true"
    ><app-drawer-content
      *ngIf="user"
      [user]="user"
      [userNames]="userNames"
      (closeDrawer)="onCloseEditDrawer()"
      (saveUser)="onSaveUser($event)"
    ></app-drawer-content>
    <app-drawer-content
      *ngIf="newUser"
      [user]="newUser"
      [userNames]="userNames"
      (closeDrawer)="onCloseEditDrawer()"
      (saveUser)="onSaveNewUser($event)"
    ></app-drawer-content
  ></mat-drawer>
  <mat-drawer-content class="bg-blue-900">
    <div class="flex flex-col lg:flex-row pt-4">
      <div class="flex flex-col relative place-items-center lg:w-1/2 ">
        <ion-segment
          mode="ios"
          [value]="chartType"
          class="w-[200px] sm:w-[500px] block sm:grid"
          (ionChange)="onChangeChartType($event)"
        >
          <ion-segment-button value="monthly">
            <ion-label>{{
              "gimmicks.charts.monthlyConsumption" | translate
            }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="yearly">
            <ion-label>{{
              "gimmicks.charts.yearlyConsumption" | translate
            }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="procentual">
            <ion-label>{{
              "gimmicks.charts.procentualConsumption" | translate
            }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div
          *ngIf="chartType === 'procentual'"
          class="flex flex-col items-center mt-6"
        >
          <app-pie-chart [users]="users"></app-pie-chart>
          <div class="flex justify-evenly w-full items-center mt-8">
            <div>
              <ion-segment
                mode="ios"
                [value]="year"
                class="block"
                (ionChange)="onChangeYear($event)"
              >
                <ion-segment-button value="2022">
                  <ion-label>2022</ion-label>
                </ion-segment-button>
                <ion-segment-button value="2023">
                  <ion-label>2023</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>

            <div>
              <ion-segment
                mode="ios"
                [value]="kindOfConsumption"
                class="block"
                (ionChange)="onChangeKindOfConsumption($event)"
              >
                <ion-segment-button value="electricity">
                  <ion-label>{{
                    "gimmicks.charts.electricity" | translate
                  }}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="water">
                  <ion-label>{{
                    "gimmicks.charts.water" | translate
                  }}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="gas">
                  <ion-label>{{ "gimmicks.charts.gas" | translate }}</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-48">
              <mat-select
                [(value)]="selectedPeriod"
                (selectionChange)="onPeriodChange($event)"
              >
                <mat-option value="year">{{
                  "gimmicks.charts.wholeYear" | translate
                }}</mat-option>
                <mat-option *ngFor="let month of months" [value]="month">{{
                  "gimmicks.calendar.months." + month | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <app-line-chart
          *ngIf="chartType === 'monthly'"
          [users]="users"
        ></app-line-chart>
        <app-double-bar-chart
          *ngIf="chartType === 'yearly'"
          [users]="users"
        ></app-double-bar-chart>
      </div>
      <div class="h-full relative flex flex-col items-center mt-4 lg:mt-0 lg:w-1/2">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let user of users" class="border-b w-[340px] sm:w-96">
            <mat-expansion-panel-header
              collapsedHeight="100px"
              expandedHeight="100px"
            >
              <div class="flex gap-6 place-items-center">
                <img [src]="user.image" class="w-16 rounded-full border-2 border-white/30" />
                <div class="text-lg">{{ user.name }}</div>
              </div>
            </mat-expansion-panel-header>
            <div class="flex justify-between gap-4">
              <div class="flex flex-col place-items-center">
                <div class="flex flex-col place-items-center">
                  <div>{{ "gimmicks.charts.electricity" | translate }}</div>
                  <div class="text-xs">kWh</div>
                </div>
                <app-bar-chart
                  [chartValues]="getYearlyConsumption(user, 'electricity')"
                  chartBgColor="#FF638480"
                ></app-bar-chart>
              </div>
              <div class="flex flex-col place-items-center">
                <div class="flex flex-col place-items-center">
                  <div>{{ "gimmicks.charts.water" | translate }}</div>
                  <div class="text-xs">m&#179;</div>
                </div>
                <app-bar-chart
                  [chartValues]="getYearlyConsumption(user, 'water')"
                  chartBgColor="#36A2EB80"
                ></app-bar-chart>
              </div>
              <div class="flex flex-col place-items-center">
                <div class="flex flex-col place-items-center">
                  <div>{{ "gimmicks.charts.gas" | translate }}</div>
                  <div class="text-xs">kWh</div>
                </div>
                <app-bar-chart
                  [chartValues]="getYearlyConsumption(user, 'gas')"
                  chartBgColor="#FF9F4080"
                ></app-bar-chart>
              </div>
            </div>
            <div class="flex justify-end gap-2 mt-6">
              <button
                mat-mini-fab
                [matTooltip]="'gimmicks.charts.deleteUser' | translate"
                color="warn"
                (click)="onDeleteUser(user)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-mini-fab
                [matTooltip]="'gimmicks.charts.editUser' | translate"
                color="primary"
                (click)="onOpenEditDrawer(user)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="pt-4 pb-2 flex w-[340px] sm:w-96">
           <button
            class="add-user-button rounded-full w-10 h-10 text-white shadow flex justify-center items-center cursor-pointer"
            [matTooltip]="'gimmicks.charts.addUser' | translate"
            color="primary"
            (click)="onAddUser()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
