<div class="flex flex-col items-center relative">
  <div
    class="border border-black relative overflow-hidden moorhuhn-bg"
    [style.width]="boardX + 'px'"
    [style.height]="boardY + 'px'"
    [ngClass]="{ fadenkreuz: gameStarted }"
    (click)="onShot()"
  >
    <dialog
      #scoreDialog
      class="bg-yellow-300 border border-yellow-800 rounded-lg shadow-lg cursor-auto"
    >
      <div *ngIf="showDialogContent" class="w-full h-full relative">
        <div class="text-center text-lg mb-2">
          {{ "gimmicks.games.gameIsOver" | translate }}
        </div>
        <div class="text-center text-xl mb-4">
          {{ "gimmicks.games.scored" | translate : { score } }}
        </div>
        <div class="flex justify-center">
          <img class="w-[80px] h-auto" src="/assets/moorhuhn.png" />
        </div>
        <div class="flex justify-center gap-2 items-center mt-4">
          <div>Name:</div>
          <input
            #highscoreName
            [disabled]="nameInputDisabled"
            class="rounded p-1"
            type="text"
          />
          <button
            mat-icon-button
            [disabled]="nameInputDisabled"
            (click)="saveHighscore(highscoreName.value)"
          >
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
        <div *ngIf="showNewGameButton" class="w-full absolute bottom-0 left-0">
          <button class="w-full" mat-stroked-button (click)="newGame($event)">
            {{ "gimmicks.games.newGame" | translate }}
          </button>
        </div>
      </div>
    </dialog>
    <div *ngIf="gameStarted && time !== 0" class="absolute top-1 left-1">
      <circle-progress
        [showUnits]="false"
        [title]="time.toString()"
        [titleColor]="'#ffffff'"
        [clockwise]="false"
        [percent]="(time * 100) / 60"
        [maxPercent]="100"
        [radius]="10"
        [showSubtitle]="false"
        [showImage]="false"
        [showBackground]="false"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [space]="-2"
        [renderOnClick]="false"
        [titleFontSize]="'11'"
        [titleFontWeight]="'600'"
        [animation]="false"
        [animateTitle]="false"
      ></circle-progress>
    </div>
    <div *ngIf="!gameStarted && !showHighScore" class="absolute top-4 left-4">
      <button mat-raised-button color="red" (click)="showHighScore = true">
        <div class="flex gap-2 items-center">
          <div>Highscore</div>
          <div class="mb-[4px]">
            <i class="fa-solid fa-sort-down"></i>
          </div>
        </div>
      </button>
    </div>
    <div
      *ngIf="!gameStarted && showHighScore"
      class="w-[268px] h-fit max-h-[calc(100%-32px)] bg-red-300 border border-red-800 rounded-lg absolute top-4 left-4 p-4 box-border z-50 overflow-auto"
    >
      <div class="w-full h-fit relative">
        <div
          class="absolute right-0 top-0 hover:scale-150"
          (click)="showHighScore = false"
        >
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="text-center mb-4 font-bold text-yellow-200">Highscore</div>
        <div *ngIf="highscore.length === 0" class="text-center">
          {{ "gimmicks.games.noEntriesYet" | translate }}
        </div>
        <table class="w-full">
          <tr *ngFor="let item of highscore; let index = index">
            <td class="text-right pr-4 box-border w-2 align-top">
              {{ item.rank }}.
            </td>
            <td
              class="align-top"
              [ngClass]="
                item.rank === 1 ? 'text-blue-800 font-bold' : 'text-green-800'
              "
            >
              {{ item.name }}
            </td>
            <td class="text-red-800 font-semibold align-top">
              {{ item.score }}
            </td>
            <td class="text-gray-600 text-right align-top">
              {{
                item.date
                  | date
                    : (this.translateService.currentLang === "en"
                        ? "dd/MM/YY"
                        : "dd.MM.YY")
              }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div
      *ngIf="!gameStarted"
      class="flex flex-col w-full h-full justify-end items-center"
    >
      <mat-button-toggle-group class="mb-10" [(ngModel)]="level">
        <mat-button-toggle
          [ngClass]="{
            '!bg-yellow-300': level === 'easy',
            '!opacity-80': level !== 'easy'
          }"
          value="easy"
          >{{ "gimmicks.games.easy" | translate }}</mat-button-toggle
        >
        <mat-button-toggle
          [ngClass]="{
            '!bg-yellow-300': level === 'medium',
            '!opacity-80': level !== 'medium'
          }"
          value="medium"
          >{{ "gimmicks.games.medium" | translate }}</mat-button-toggle
        >
        <mat-button-toggle
          [ngClass]="{
            '!bg-yellow-300': level === 'difficult',
            '!opacity-80': level !== 'difficult'
          }"
          value="difficult"
          >{{ "gimmicks.games.difficult" | translate }}</mat-button-toggle
        >
      </mat-button-toggle-group>
      <button
        color="start-game"
        class="mb-4"
        mat-raised-button
        (click)="startGame($event)"
      >
        {{ "gimmicks.games.startGame" | translate }}
      </button>
    </div>

    <div
      *ngIf="gameover"
      class="flex w-full h-full justify-center items-center"
    >
      <div class="text-white game-over">Game Over</div>
    </div>
    <div
      *ngFor="let bird of birds"
      class="absolute"
      [ngStyle]="{
        top: bird.y + 'px',
        right: bird.direction === 0 && bird.x + 'px',
        left: bird.direction === 1 && bird.x + 'px'
      }"
      [ngClass]="{ 'rotate-vice-versa': bird.direction === 1 }"
      (click)="birdShot(bird)"
    >
      <div
        class="flex justify-center text-white font-bold score"
        [ngClass]="{
          'rotate-vice-versa': bird.direction === 1,
          'shot-right': bird.shot && bird.direction === 0,
          'shot-left': bird.shot && bird.direction === 1
        }"
      >
        +{{ levelPoints }}
      </div>
      <img class="bird" src="/assets/moorhuhn.gif" />
    </div>
  </div>
  <div
    *ngIf="gameStarted"
    class="flex justify-between mt-4"
    [style.width]="boardX + 'px'"
  >
    <div class="flex gap-2 text-white">
      <div>{{ "gimmicks.games.score" | translate }}</div>
      <div>{{ score }}</div>
    </div>

    <button *ngIf="!playSound" mat-mini-fab (click)="toggleSound()">
      <i class="fa-solid fa-volume-xmark text-[20px]"></i>
    </button>
    <button *ngIf="playSound" mat-mini-fab (click)="toggleSound()">
      <i class="fa-solid fa-volume-high text-[20px]"></i>
    </button>
  </div>
</div>
