<section class="nf" data-cy="page-not-found">
  <div class="orb o1"></div>
  <div class="orb o2"></div>
  <div class="orb o3"></div>

  <div class="nf-inner">
    <div class="nf-copy">
      <div class="code" aria-hidden="true">404</div>

      <h1>Ups&hellip;</h1>

      <p class="lead">{{ "pageNotFound.error" | translate }}</p>

      <div class="btn-row">
        <a [routerLink]="['/']" class="btn btn-primary">
          <i class="fa-solid fa-house"></i>
          {{ "pageNotFound.goToHomepage" | translate }}
        </a>
        <button type="button" class="btn btn-ghost" (click)="goBack()">
          <i class="fa-solid fa-arrow-left"></i>
          {{ "pageNotFound.goBack" | translate }}
        </button>
      </div>
    </div>

    <div class="nf-figure">
      <div class="frame">
        <img
          src="/assets/page-not-found.jpg"
          alt=""
          loading="lazy"
          decoding="async"
        />
        <span class="sweep"></span>
      </div>
    </div>
  </div>
</section>
