a{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: var(--color1);
  background: var(--color2);
  line-height: 50px;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: 999;
}
 
a.visible:hover {
  opacity: 1;
}
a i {
  font-weight: 800;
}

a.visible{
  opacity: 0.8;
}