<section
  class="flex flex-col justify-center items-center bg-white/30 text-white shadow rounded-xl py-8 border border-white"
>
  <div class="sm:text-lg mb-4 px-6 text-center">{{ "gimmicks.jokes.loginToRead" | translate }}</div>
  <div
    *ngIf="error"
    class="flex justify-center p-8 bg-red-300/60 rounded mb-4 w-60 sm:w-96"
  >
    {{ error }}
  </div>
  <div
    *ngIf="isLoginMode"
    class="bg-gradient-to-b from-cyan-100/60 to-cyan-300/60 shadow-2xl rounded p-4 xs:p-8 relative max-w-[220px] sm:w-96 sm:max-w-96 h-48"
  >
    <div *ngIf="isLoading" class="flex justify-center items-center h-full">
      <ion-spinner></ion-spinner>
    </div>

    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm)"
      *ngIf="!isLoading"
    >
      <div class="flex flex-col">
        <mat-form-field appearance="outline" class="w-[200px] sm:w-96">
          <mat-label>E-Mail</mat-label>
          <input
            #emailInput
            matInput
            type="email"
            id="email"
            ngModel
            name="email"
            required
            email
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-[200px] sm:w-96">
          <mat-label>{{ "gimmicks.jokes.password" | translate }}</mat-label>
          <input
            #passwordInput
            matInput
            type="password"
            id="password"
            ngModel
            name="password"
            required
          />
        </mat-form-field>
      </div>

      <button
        type="submit"
        (click)="onLogin(loginForm)"
        class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer w-full"
      >
        {{ "gimmicks.jokes.login" | translate }}
      </button>
    </form>
  </div>
  <ng-container *ngIf="isLoginMode">
    <div class="flex justify-center mt-6">
      --- {{ "gimmicks.jokes.noAccount" | translate }} ---
    </div>
    <div class="flex justify-center mt-6">
      <a class="cursor-pointer hover:scale-125" (click)="onSwitchMode()">
        <u>{{ "gimmicks.jokes.signUp" | translate }}</u>
      </a>
    </div>
  </ng-container>
  <div
    *ngIf="!isLoginMode"
    class="bg-gradient-to-b from-cyan-100/60 to-cyan-300/60 shadow-2xl rounded p-4 xs:p-8 relative max-w-[220px] sm:w-96 sm:max-w-96 h-64"
  >
    <div *ngIf="isLoading" class="flex justify-center items-center h-full">
      <ion-spinner></ion-spinner>
    </div>
    <form
      #signUpForm="ngForm"
      (ngSubmit)="onSubmit(signUpForm)"
      *ngIf="!isLoading"
    >
      <div class="flex flex-col">
        <mat-form-field appearance="outline" class="w-[200px] sm:w-96">
          <mat-label>E-Mail</mat-label>
          <input
            #emailInput2
            matInput
            type="email"
            id="email"
            ngModel
            name="email"
            required
            email
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-[200px] sm:w-96">
          <mat-label>{{ "gimmicks.jokes.password" | translate }}</mat-label>
          <input
            #passwordInput2
            matInput
            type="password"
            id="password"
            ngModel
            name="password"
            required
            minlength="6"
          />
          <mat-hint *ngIf="passwordError" class="text-red-600">{{
            passwordError
          }}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-[200px] sm:w-96">
          <mat-label>{{
            "gimmicks.jokes.confirmPassword" | translate
          }}</mat-label>
          <input
            #confirmInput
            matInput
            type="password"
            id="confirmPassword"
            ngModel
            name="confirmPassword"
            required
            minlength="6"
          />
        </mat-form-field>
      </div>

      <button
        type="submit"
        (click)="onSignUp(signUpForm)"
        class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer w-full"
      >
        {{ "gimmicks.jokes.signUp" | translate }}
      </button>
    </form>
  </div>
  <ng-container *ngIf="!isLoginMode">
    <div class="flex justify-center mt-6">
      --- {{ "gimmicks.jokes.haveAccount" | translate }} ---
    </div>
    <div class="flex justify-center mt-6">
      <a class="cursor-pointer hover:scale-125" (click)="onSwitchMode()">
        <u>{{ "gimmicks.jokes.login" | translate }}</u>
      </a>
    </div>
  </ng-container>
  <button class="google-btn mt-8" (click)="onGoogleLogin()">
    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" />
    <span>{{ "gimmicks.jokes.loginWithGoogle" | translate }}</span>
  </button>
</section>
