<header id="header">
  <div class="absolute top-20 left-0 flex w-full justify-center">
  <div class="w-[600px] text-center p-4 bg-red-600 rounded text-white border border-red-900">
    {{ "header.apiError" | translate }}
  </div>
</div>
  <div class="content">
    <h1 class="text-color3 animation name-animation">Benjamin Milčić</h1>
    <h3 class="text-color3 animation profession-animation">
      <em>Angular Frontend {{ "header.developer" | translate }}</em>
    </h3>
    <div class="button-wrapper animation button-animation">
      <a [routerLink]="['/']" fragment="about">{{
        "header.findOutMore" | translate
      }}</a>
    </div>
  </div>
</header>

