<section class="flex flex-col gap-2 h-[calc(100%-49px)] bg-blue-900">
  <div class="flex justify-center flex-wrap gap-6 p-4">
    <div class="flex gap-4 items-center">
      <div class="text-white">{{ "gimmicks.games.selectGame" | translate }}</div>
      <button mat-raised-button color="yellow" [matMenuTriggerFor]="selectGame">
        <div class="flex gap-2 items-center">
          <div>
            <img class="w-[20px] h-auto" [src]="gameIconSrc" />
          </div>
          <div>
            {{ gameName }}
          </div>
          <div class="mb-[4px]">
            <i class="fa-solid fa-sort-down"></i>
          </div>
        </div>
      </button>
    </div>
    <mat-menu #selectGame="matMenu" class="!bg-yellow-300 !px-4">
      <button
        mat-menu-item
        (click)="changeGame('Moorhuhn')"
        [routerLink]="['/gimmicks/games/moorhuhn']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/moorhuhn-icon.png" />
          <div class="mt-[6px]">Moorhuhn</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('Yahtzee')"
        [routerLink]="['/gimmicks/games/yahtzee']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/yahtzee.png" />
          <div>{{ "Yahtzee" | translate }}</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.memoQuiz')"
        [routerLink]="['/gimmicks/games/memo-quiz']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/memory-game.png" />
          <div>{{ "gimmicks.games.memoQuiz" | translate }}</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.knowledgeQuiz')"
        [routerLink]="['/gimmicks/games/knowledge-quiz']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/quiz.png" />
          <div>{{ "gimmicks.games.knowledgeQuiz" | translate }}</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('TikTakToe')"
        [routerLink]="['/gimmicks/games/tiktaktoe']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/tic-tac-toe.png" />
          <div>TikTakToe</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.connectFour')"
        [routerLink]="['/gimmicks/games/connect-four']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/connect-four.png" />
          <div>{{ "gimmicks.games.connectFour" | translate }}</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('Minesweeper')"
        [routerLink]="['/gimmicks/games/minesweeper']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/minesweeper.png" />
          <div>Minesweeper</div>
        </div>
      </button>
      <!-- <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.jigsaw')"
        [routerLink]="['/gimmicks/games/jigsaw']"
        routerLinkActive="router-link-active"
      >
      <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/jigsaw.png" />
          <div>{{ "gimmicks.games.jigsaw" | translate }}</div>
        </div>
        
      </button> -->
    </mat-menu>
  </div>
  <div class="w-full h-full items-center overflow-auto">
    <router-outlet></router-outlet>
  </div>
</section>
