<section class="flex flex-col gap-2 h-full pt-[70px] box-border bg-blue-900">
  <div class="flex justify-center flex-wrap gap-6 p-4">
    <div class="flex gap-3 items-center">
      <div class="games-select-label">
        {{ "gimmicks.games.selectGame" | translate }}
      </div>
      <button
        mat-raised-button
        class="games-select-trigger"
        [class.is-open]="gameTrigger.menuOpen"
        [matMenuTriggerFor]="selectGame"
        #gameTrigger="matMenuTrigger"
      >
        <span class="flex gap-2 items-center">
          <img class="games-select-icon w-[20px] h-auto" [src]="gameIconSrc" />
          <span>{{ gameName }}</span>
          <i class="fa-solid fa-chevron-down games-select-chevron"></i>
        </span>
      </button>
    </div>
    <mat-menu #selectGame="matMenu" class="games-menu">
      <button mat-menu-item (click)="changeGame('gimmicks.games.connectFour')" [routerLink]="['/gimmicks/games/connect-four']"
        routerLinkActive="router-link-active">
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/connect-four.png" />
          <div>{{ "gimmicks.games.connectFour" | translate }}</div>
        </div>
      </button>
      <button mat-menu-item (click)="changeGame('Minesweeper')" [routerLink]="['/gimmicks/games/minesweeper']"
        routerLinkActive="router-link-active">
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/minesweeper.png" />
          <div>Minesweeper</div>
        </div>
      </button>
      <button mat-menu-item (click)="changeGame('gimmicks.games.memoQuiz')" [routerLink]="['/gimmicks/games/memo-quiz']"
        routerLinkActive="router-link-active">
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/memory-game.png" />
          <div>{{ "gimmicks.games.memoQuiz" | translate }}</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('Moorhuhn')"
        [routerLink]="['/gimmicks/games/moorhuhn']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/moorhuhn-icon.png" />
          <div>Moorhuhn</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('Yahtzee')"
        [routerLink]="['/gimmicks/games/yahtzee']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/yahtzee.png" />
          <div>{{ "gimmicks.games.yahtzee" | translate }}</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.knowledgeQuiz')"
        [routerLink]="['/gimmicks/games/knowledge-quiz']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/quiz.png" />
          <div>{{ "gimmicks.games.knowledgeQuiz" | translate }}</div>
        </div>
      </button>
      <!-- <button
        mat-menu-item
        (click)="changeGame('TikTakToe')"
        [routerLink]="['/gimmicks/games/tiktaktoe']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/tic-tac-toe.png" />
          <div>TikTakToe</div>
        </div>
      </button> -->
      <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.flagQuiz.title')"
        [routerLink]="['/gimmicks/games/flag-quiz']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/svg/gb.svg" />
          <div>{{ "gimmicks.games.flagQuiz.title" | translate }}</div>
        </div>
      </button>
      <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.ships')"
        [routerLink]="['/gimmicks/games/ships']"
        routerLinkActive="router-link-active"
      >
        <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/svg/ships.svg" />
          <!-- Auf dem Smartphone nur "Schiffe" – der volle Name bräuchte
               in der zweispaltigen Liste zwei Zeilen. -->
          <div class="label-long">{{ "gimmicks.games.ships" | translate }}</div>
          <div class="label-short">{{ "gimmicks.games.shipsShort" | translate }}</div>
        </div>
      </button>
      <!-- <button
        mat-menu-item
        (click)="changeGame('gimmicks.games.jigsaw')"
        [routerLink]="['/gimmicks/games/jigsaw']"
        routerLinkActive="router-link-active"
      >
      <div class="flex gap-2 items-center">
          <img class="w-[20px] h-auto" src="/assets/jigsaw.png" />
          <div>{{ "gimmicks.games.jigsaw" | translate }}</div>
        </div>
        
      </button> -->
    </mat-menu>
  </div>
  <div class="w-full h-full items-center overflow-auto">
    <router-outlet></router-outlet>
  </div>
</section>
