@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #f5eec2;
  --color2: #416a59;
  --color3: #39395f;
  --color4: #73a24e;
  --color5: #a9c25d;
  --gimmicks-color1: #1c6391;
  --gimmicks-color2: #1b529e;
  --gimmicks-color3: #edc516;
  --gimmicks-color4: #f2f052;
  --gimmicks-color5: #e82749;
  --gimmicks-color6: #529f8e;
}

body,
html {
  margin: 0px;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tooltip {
  .mdc-tooltip__surface {
    margin-top: 20px;
  }
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

@media print {
  app-root > * {
    display: none;
  }
  app-print-schedule {
    display: block;
  }
}

.mdc-notched-outline__notch {
  border-right: none;
}

button.alert-button.alert-button-cancel {
  border-radius: 4px;
  background-color: rgb(96, 165, 250);
  color: white;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  cursor: pointer;
}

button.alert-button.alert-button-cancel:hover {
  background-color: rgb(37, 99, 235);
}

button.alert-button.alert-button-confirm {
  border-radius: 4px;
  background-color: rgb(239, 68, 68);
  color: white;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  cursor: pointer;
}

button.alert-button.alert-button-confirm:hover {
  background-color: rgb(220, 38, 38);
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}

.my-tooltip-class .mdc-tooltip__surface {
  background-color: var(--color3) !important;
  color: var(--color1) !important;
}

.winner-dialog {
  border: 1px solid black;
  border-radius: 12px;
}

.rounded-modal {
  --border-radius: 16px;
  overflow: hidden;
}

.custom-bottom-sheet {
  background-color: #fce7f3 !important;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0 !important;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.2) !important;
}

.custom-bottom-sheet .mat-bottom-sheet-container {
  background-color: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
}
