<a *ngIf="currentRoute==='/'" [ngClass]="{ visible: scrollToTopVisible }"  [routerLink]="['/']" fragment="header"
  ><i class="fas fa-angle-up"></i
></a>
<a *ngIf="currentRoute==='/gimmicks'" [ngClass]="{ visible: scrollToTopVisible }"  [routerLink]="['/gimmicks']" fragment="header"
  ><i class="fas fa-angle-up"></i
></a>
<a *ngIf="currentRoute==='/gimmicks/guestbook'" [ngClass]="{ visible: scrollToTopVisible }"  [routerLink]="['/gimmicks/guestbook']" fragment="header"
  ><i class="fas fa-angle-up"></i
></a>
<a *ngIf="currentRoute==='/gimmicks/map'" [ngClass]="{ visible: scrollToTopVisible }"  [routerLink]="['/gimmicks/map']" fragment="header"
  ><i class="fas fa-angle-up"></i
></a>
<a *ngIf="currentRoute==='/gimmicks/auth/login'" [ngClass]="{ visible: scrollToTopVisible }"  [routerLink]="['/gimmicks/auth/login']" fragment="header"
  ><i class="fas fa-angle-up"></i
></a>
<a *ngIf="currentRoute==='/gimmicks/auth/main'" [ngClass]="{ visible: scrollToTopVisible }"  [routerLink]="['/gimmicks/auth/main']" fragment="header"
  ><i class="fas fa-angle-up"></i
></a>
