<section
  class="flex flex-col lg:flex-row bg-blue-900 min-h-[calc(100%-49px)] items-center lg:items-start justify-center gap-7 lg:gap-6 xl:gap-10"
>
  <div class="relative flex flex-col gap-4 w-[318px] sm:w-[600px] lg:mb-8">
    <div
      class="flex flex-col sm:flex-row bg-white/30 border border-white text-white rounded-xl items-center sm:items-start shadow-2xl mt-2 sm:mt-4 lg:mt-8 px-4 sm:px-8 pb-4 sm:pb-8 sm:gap-8"
    >
      <app-jokes-book></app-jokes-book>
      <div class="sm:mt-8" id="container">
        {{ "gimmicks.jokes.text1" | translate }}
        <span class="font-bold">guest&commat;guest.com</span>
        <span (click)="copyToClipboard('guest@guest.com', $event)">
          <i
            class="fa-regular fa-clipboard ml-1 hover:text-cyan-500 cursor-pointer"
          ></i
        ></span>
        {{ "gimmicks.jokes.text2" | translate }}
        <span class="font-bold">jokes123</span
        ><span (click)="copyToClipboard('jokes123', $event)">
          <i
            class="fa-regular fa-clipboard ml-1 hover:text-cyan-500 cursor-pointer"
          ></i
        ></span>
        {{ "gimmicks.jokes.text3" | translate }}
        <br />
        <br />
        {{ "gimmicks.jokes.text4" | translate }}
        <a href="https://stripe.com/" target="_blank">{{
          "gimmicks.jokes.text5" | translate
        }}</a
        >. {{ "gimmicks.jokes.text6" | translate }}
        <div class="bg-white/80 border border-white rounded p-2 text-xs grid grid-cols-2 my-2">
          <div class="text-blue-500 mb-1">
            {{ "gimmicks.jokes.paymentSucceeds" | translate }}
          </div>
          <div class="text-blue-500 flex">
            <div>4242 4242 4242 4242</div>
            <div (click)="copyToClipboard('4242 4242 4242 4242', $event)">
              <i
                class="fa-regular fa-clipboard ml-1 hover:text-blue-700 cursor-pointer"
              ></i>
            </div>
          </div>
          <div class="text-orange-500 mb-1">
            {{ "gimmicks.jokes.paymentRequiresAuth" | translate }}
          </div>
          <div class="text-orange-500 flex">
            <div>4000 0025 0000 3155</div>
            <div (click)="copyToClipboard('4000 0025 0000 3155', $event)">
              <i
                class="fa-regular fa-clipboard ml-1 hover:text-blue-700 cursor-pointer"
              ></i>
            </div>
          </div>
          <div class="text-red-500">
            {{ "gimmicks.jokes.paymentDeclined" | translate }}
          </div>
          <div class="text-red-500 flex">
            <div>4000 0000 0000 9995</div>
            <div (click)="copyToClipboard('4000 0000 0000 9995', $event)">
              <i
                class="fa-regular fa-clipboard ml-1 hover:text-blue-700 cursor-pointer"
              ></i>
            </div>
          </div>
        </div>
        {{ "gimmicks.jokes.text7" | translate }}
        <br />
        <br />
        {{ "gimmicks.jokes.text8" | translate }}
        <a
          href="https://www.amazon.de/Vicevi-dva-jezika-Sprachen-kroatisch/dp/B0CTXX39KZ/ref=sr_1_1?dib=eyJ2IjoiMSJ9.5PQfH2ltLtUPlA2ZafYO-Q.CSLZZD2SZp04jpj0y3zHZlaO3KokFMTL-OxcmiVQkw4&dib_tag=se&qid=1711988862&refinements=p_27%3ABenjamin+Mil%C4%8Di%C4%87&s=books&sr=1-1&text=Benjamin+Mil%C4%8Di%C4%87"
          target="_blank"
          >{{ "gimmicks.jokes.text9" | translate }}</a
        >
        {{ "gimmicks.jokes.text10" | translate }}
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="relative">
    <app-stripe></app-stripe>
  </div>
</section>
