<section
  id="header"
  class="flex flex-col xl:flex-row bg-blue-900 min-h-full xl:h-full pt-[70px] box-border"
>
  <div
    class="relative max-h-full"
    mwlResizable
    [enableGhostResize]="true"
    (resizing)="onResizeEnd($event)"
    [ngStyle]="style"
  >
    <google-map
      *ngIf="mapService.mapsReady"
      #map
      height="100%"
      width="100%"
      [options]="mapOptions"
      (mapInitialized)="onMapInitialized($event)"
    ></google-map>
    <div
      class="xl:hidden flex absolute rounded-full -bottom-4 cursor-row-resize bg-gray-500 right-[calc(50%-8px)] w-8 h-8 place-items-center justify-center bg-opacity-30 z-50"
      mwlResizeHandle
      [resizeEdges]="{ bottom: true }"
    >
      <i class="fa-solid fa-arrows-up-down opacity-30"></i>
    </div>
    <div
      *ngIf="showFilter"
      class="bg-white/95 backdrop-blur-lg rounded-2xl absolute left-20 top-[60px] z-10 overflow-y-auto h-[calc(100%-80px)] w-fit"
    >
      <div
        class="sticky top-0 z-50 bg-gradient-to-r from-blue-600 via-purple-600 to-indigo-600 pt-3 px-2"
      >
        <div class="flex justify-between place-items-center">
          <div class="font-bold text-white flex items-center gap-2">
            <mat-icon class="text-white">filter_alt</mat-icon>
            Filter
          </div>
          <div class="flex gap-2 items-center">
            <div
              (click)="resetFilter()"
              [matTooltip]="'gimmicks.map.resetFilter' | translate"
            >
              <i class="fa-solid fa-rotate-right text-white cursor-pointer"></i>
            </div>
            <button
              class="bg-white/20 hover:bg-white/30 rounded-lg p-2 transition-all duration-300"
              (click)="showFilter = false"
            >
              <i class="fa-solid fa-xmark text-white"></i>
            </button>
          </div>
        </div>
        <hr />
      </div>

      <div>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="badenWuerttemberg"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Baden-Württemberg" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="bavaria"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Bayern" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="berlin"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Berlin" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="brandenburg"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Brandenburg" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="bremen"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Bremen" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="hamburg"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Hamburg" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="hesse"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Hessen" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="mecklenburgWesternPomerania"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{
              "gimmicks.map.Mecklenburg-Vorpommern" | translate
            }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="lowerSaxony"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Niedersachsen" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="northrhineWestphalia"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Nordrhein-Westfalen" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="rhinelandPalatinate"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Rheinland-Pfalz" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="saarland"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Saarland" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="saxony"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Sachsen" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="saxonyAnhalt"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Sachsen-Anhalt" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            [(ngModel)]="schleswigHolstein"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Schleswig-Holstein" | translate }}</ion-checkbox
          >
        </ion-item>
        <ion-item lines="none" class="pb-3">
          <ion-checkbox
            [(ngModel)]="thuringia"
            (ngModelChange)="selectFederalStates()"
            mode="ios"
            labelPlacement="end"
            justify="start"
            class="text-sm"
            >{{ "gimmicks.map.Thüringen" | translate }}</ion-checkbox
          >
        </ion-item>
      </div>
    </div>
    <div
      cdkDrag
      [hidden]="!showCityInfo"
      *ngIf="!mapToSmall(200)"
      class="funny-bg absolute top-[20px] right-[20px] shadow-lg rounded-xl p-4 z-10"
    >
      <div
        class="flex justify-between place-items-center bg-gradient-to-r from-blue-600 via-purple-600 to-indigo-600 -m-4 py-2 px-4 rounded-t-xl"
      >
        <div class="cursor-move text-white/80 w-5" cdkDragHandle>
          <i class="fa-solid fa-arrows-up-down-left-right"></i>
        </div>
        <div class="font-bold text-white">
          {{ "gimmicks.map.cityInfo" | translate }}
        </div>
        <div class="w-5">
          <button
            (click)="showCityInfo = false"
            class="bg-white/20 hover:bg-white/30 rounded-lg p-2 transition-all duration-300 cursor-pointer"
          >
            <i class="fa-solid fa-xmark text-white"></i>
          </button>
        </div>
      </div>
      <div class="mt-6">
        <span class="font-bold">Name: </span> <span>{{ cityInfo.name }}</span>
      </div>
      <div>
        <span class="font-bold"
          >{{ "gimmicks.map.population" | translate }}:
        </span>
        <span>{{ cityInfo.population }}</span>
      </div>
      <div>
        <span class="font-bold"
          >{{ "gimmicks.map.federalState" | translate }}:
        </span>
        <span>{{ "gimmicks.map." + cityInfo.federalState | translate }}</span>
      </div>
      <button
        [matTooltip]="'https://de.wikipedia.org' + cityInfo.link"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-sm mt-1 cursor-pointer"
        (click)="openWikipedia(cityInfo.link)"
      >
        Wikipedia
      </button>
    </div>
  </div>
  <div
    *ngIf="mapToSmall(200)"
    class="bg-white rounded text-red-400 px-2 xl:hidden relative"
  >
    {{ "gimmicks.map.noFunctions" | translate }}
  </div>

  <div
    class="my-8 sm:m-8 xl:m-4 xl:overflow-y-auto overflow-x-auto relative rounded-xl"
  >
    <div
      class="sticky top-0 left-0 bg-gradient-to-r from-blue-600 via-purple-600 to-indigo-600 rounded-xl z-10 pt-4"
    >
      <div
        class="flex flex-col md:flex-row justify-center place-items-center mb-4 text-white"
      >
        {{ "gimmicks.map.cities1" | translate }}
        <div>
          <input
            type="number"
            min="20000"
            max="3800000"
            [(ngModel)]="minPopulation"
            (ngModelChange)="changeMarkersAndTable(this.federalStatesToShow)"
            class="border-2 border-black rounded mx-1 px-1 out-of-range:text-red-500"
          />

          {{ "gimmicks.map.cities2" | translate }}
          <input
            type="number"
            min="20000"
            max="3800000"
            [(ngModel)]="maxPopulation"
            (ngModelChange)="changeMarkersAndTable(this.federalStatesToShow)"
            class="border-2 border-black rounded mx-1 px-1 out-of-range:text-red-500"
          />
        </div>

        {{ "gimmicks.map.cities3" | translate }}
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
        [length]="100"
        [pageSize]="5"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>

    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8 !rounded-b-xl !overflow-hidden table-with-pattern"
    >
      <ng-container matColumnDef="rang">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "gimmicks.map.rang" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.rang }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "gimmicks.map.name" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "gimmicks.map.population" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.population }}</td>
      </ng-container>
      <ng-container matColumnDef="federalStateName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "gimmicks.map.federalState" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ "gimmicks.map." + element.federalStateName | translate }}
        </td>
      </ng-container>
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>Link</th>
        <td mat-cell *matCellDef="let element">
          <button
            [matTooltip]="'https://de.wikipedia.org' + element.link"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-sm mt-1 cursor-pointer"
            (click)="openWikipedia(element.link)"
          >
            Wiki
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </div>
</section>
